[2015-05-04 16:09] twhitacre opened #1 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #2 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #3 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #4 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #5 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #6 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #7 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #8 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #9 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #10 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #11 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #12 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #13 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #14 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #15 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #16 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #17 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #18 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #19 "Assignment 1"

[2015-05-04 18:24] twhitacre opened #20 "Assignment 1"

[2015-05-04 18:51] oatneal17 commented on #2
http://codepen.io/oatneal17/pen/QbjwZg?editors=110

[2015-05-04 18:51] #2 closed

[2015-05-04 19:54] jaleach commented on #4
http://codepen.io/jaleach/pen/VLvLKe?editors=110

[2015-05-04 19:57] JamieUdaho commented on #5
http://codepen.io/JamieUdaho/pen/jPbPvQ?editors=110

[2015-05-04 19:57] #5 closed

[2015-05-04 19:58] jjoyave1 commented on #6
http://codepen.io/jjoyave1/pen/gpapwm?editors=110

[2015-05-04 20:01] combs-justin-m commented on #3
http://codepen.io/combs-justin-m/pen/EjVadO

[2015-05-04 20:01] krose422 commented on #9
http://codepen.io/kelleyrose/pen/jPbERa?editors=110

[2015-05-04 20:01] #9 closed

[2015-05-04 20:06] robertfine4631 commented on #18
http://codepen.io/robertfine4631/pen/aOvOwo

[2015-05-04 20:06] #18 closed

[2015-05-04 20:23] mjhewett commented on #12
http://codepen.io/maxhewett/pen/GJpJay

[2015-05-04 20:23] #12 closed

[2015-05-04 20:26] johndenz commented on #7
http://codepen.io/johndenz/pen/MwaYGr?editors=110

[2015-05-04 20:26] #7 closed

[2015-05-04 22:19] psamp commented on #17
http://codepen.io/psamp/pen/waKBOJ

[2015-05-04 22:20] #17 closed

[2015-05-04 22:27] nickleach commented on #15
http://codepen.io/nickleach/pen/ZGbYNj

[2015-05-04 22:27] #15 closed

[2015-05-05 00:19] combs-justin-m commented on #3
HARD MODE:

http://codepen.io/combs-justin-m/pen/EjVVJw

// Tidied up
// "The document is valid HTML5 + ARIA + SVG 1.1 + MathML 2.0."

[2015-05-05 00:19] combs-justin-m commented on #3
HARD MODE:

http://codepen.io/combs-justin-m/pen/EjVVJw

// Tidied up
// "The document is valid HTML5 + ARIA + SVG 1.1 + MathML 2.0."

[2015-05-05 00:19] #3 closed

[2015-05-05 00:35] MeadeSlocomb commented on #11
http://codepen.io/meadeslocomb/pen/LVpVVP?editors=110

[2015-05-05 00:35] #11 closed

[2015-05-05 00:41] #14 closed

[2015-05-05 00:54] theatrekid09 commented on #19
http://codepen.io/theatrekid09/pen/NqGqPa/?editors=110

[2015-05-05 01:26] mmarcinek commented on #13
http://codepen.io/mmarcinek/pen/oXjgQr?editors=110

[2015-05-05 01:31] tvpham11 commented on #1
Normal mode: http://codepen.io/tvpham11/pen/VLvLzj?editors=110

[2015-05-05 01:40] hdannyyi opened #21 "Assignment 1"

[2015-05-05 02:05] MeadeSlocomb commented on #11
Hard mode:
http://codepen.io/meadeslocomb/pen/OVyMpV?editors=110

Fixed the alignment and bold issues mentioned, as well as the inconsistent boldness that wasn't mentioned in the instructions.  Validation still returns many errors, however.

[2015-05-05 02:24] tvpham11 commented on #1
Hard mode: http://codepen.io/tvpham11/pen/vONOrx?editors=110

[2015-05-05 02:36] mmarcinek commented on #13
http://codepen.io/mmarcinek/pen/waKMqG?editors=110 (hard)

[2015-05-05 02:57] #1 closed

[2015-05-05 03:01] mmarcinek commented on #13
Cleaned up sporadic bolding issues, fixed indentation bug, green light on "The Validator".

[2015-05-05 03:01] #13 closed

[2015-05-05 03:19] jjoyave1 commented on #6
Hard mode done

http://codepen.io/jjoyave1/pen/NqGxoj?editors=110

If you need specific lines I can go back for reference, but I remember closing an open <div>, deleting an extra <strong>, and then adding a bunch of missing <strong>s

Excuse the improper terminology.

[2015-05-05 03:20] #6 closed

[2015-05-05 03:45] TRPMorrison commented on #20
http://codepen.io/TRPMorrison/pen/rVOxRZ?editors=110

[2015-05-05 03:45] #20 closed

[2015-05-05 03:45] TRPMorrison commented on #20
http://codepen.io/TRPMorrison/pen/rVOxRZ?editors=110

[2015-05-05 03:54] kishanbhakta commented on #8
http://codepen.io/bhktkshn/pen/xGwbBB?editors=110

[2015-05-05 04:19] chrisbusta opened #22 "http://codepen.io/chrisbusta/pen/mJeygV?editors=110"
http://codepen.io/chrisbusta/pen/mJeygV?editors=110

[2015-05-05 04:20] chrisbusta opened #23 "Assignment 1"
http://codepen.io/chrisbusta/pen/mJeygV?editors=110

[2015-05-05 04:43] psamp commented on #17
The above is the minimum hw, here's the hardcore http://codepen.io/psamp/pen/aOvdXP

[2015-05-05 08:32] leslienw commented on #10
http://codepen.io/leslienw/pen/NqGPOp

[2015-05-05 08:32] #10 closed

[2015-05-05 11:22] jaleach commented on #4
http://codepen.io/jaleach/pen/VLvLKe?editors=110

http://codepen.io/jaleach/pen/KpdVby

[2015-05-05 11:22] #4 closed

[2015-05-05 11:53] chrisbusta commented on #22
http://codepen.io/chrisbusta/pen/mJeygV?editors=110

[2015-05-05 11:53] chrisbusta commented on #23
http://codepen.io/chrisbusta/pen/mJeygV?editors=110

[2015-05-05 11:53] #23 closed

[2015-05-05 11:55] #22 closed

[2015-05-05 12:36] makirio commented on #20
Is this still opened to be resolved?

[2015-05-05 13:04] chrisbusta commented on #2
http://codepen.io/chrisbusta/pen/mJeygV?editors=110

[2015-05-05 16:20] #8 closed

[2015-05-05 16:21] #19 closed

[2015-05-05 19:00] twhitacre opened #24 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #25 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #26 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #27 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #28 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #29 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #30 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #31 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #32 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #33 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #34 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #35 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #36 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #37 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #38 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #39 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #40 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #41 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #42 "Assignment 2"

[2015-05-05 19:00] twhitacre opened #43 "Assignment 2"

[2015-05-05 19:08] robertfine4631 commented on #39
http://robertfine4631.github.io/Assignment2/

https://github.com/robertfine4631/Assignment2

[2015-05-05 19:10] #39 closed

[2015-05-05 19:10] combs-justin-m commented on #25
Repository: https://github.com/combs-justin-m/Octocats

GH-Page: http://combs-justin-m.github.io/Octocats/

[2015-05-05 19:10] #25 closed

[2015-05-05 19:56] JamieUdaho commented on #27
http://jamieudaho.github.io/assignment2

https://github.com/JamieUdaho/assignment2

[2015-05-05 19:56] #27 closed

[2015-05-05 19:56] krose422 commented on #31
http://krose422.github.io/Assignment2

https://github.com/krose422/Assignment2

[2015-05-05 19:56] #31 closed

[2015-05-05 21:23] mjhewett commented on #43
http://mjhewett.github.io/octocats/

[2015-05-05 21:45] kishanbhakta commented on #30
http://kishanbhakta.github.io/octodex/

[2015-05-05 21:45] #30 closed

[2015-05-05 21:56] nickleach commented on #36
https://github.com/nickleach/octocats/tree/master - Repository
http://nickleach.github.io/octocats/ - GH Page

[2015-05-05 21:56] #36 closed

[2015-05-05 22:02] hdannyyi commented on #43
http://hdannyyi.github.io/octodex/

https://github.com/hdannyyi/octodex

[2015-05-05 22:04] #43 closed

[2015-05-05 23:21] johndenz commented on #29
file:///Users/johnthandensmore/projects/octocat/index.html

[2015-05-06 00:23] mmarcinek commented on #35
http://mmarcinek.github.io/assignment02/  (gh-pages)
https://github.com/mmarcinek/assignment02 (repo)

[2015-05-06 00:23] #35 closed

[2015-05-06 00:54] jjoyave1 commented on #28
https://github.com/jjoyave1/assignment2/tree/master

https://github.com/jjoyave1/assignment2/tree/gh-pages

[2015-05-06 00:54] #28 closed

[2015-05-06 01:11] psamp commented on #38
http://psamp.github.io/octocats/

https://github.com/psamp/octocats

[2015-05-06 01:14] #38 closed

[2015-05-06 02:07] MeadeSlocomb commented on #33
https://github.com/MeadeSlocomb/homework2/tree/gh-pages

https://github.com/MeadeSlocomb/homework2

[2015-05-06 02:13] MeadeSlocomb commented on #33
http://meadeslocomb.github.io/homework2/

[2015-05-06 02:13] #33 closed

[2015-05-06 02:20] TRPMorrison commented on #41
http://trpmorrison.github.io/Octodex/

Have not figured out how to align all the text on one row and to get the same font.  I will add the triangle shortly.

[2015-05-06 02:22] TRPMorrison commented on #41
I forgot to include the link to GH-Pages:

https://github.com/TRPMorrison/Octodex/tree/gh-pages

[2015-05-06 03:21] jaleach commented on #26
http://jaleach.github.io/Assn2/
https://github.com/jaleach/Assn2

[2015-05-06 03:43] tvpham11 commented on #42
Repo: https://github.com/tvpham11/assignment-2
GH Page: http://tvpham11.github.io/assignment-2/

[2015-05-06 03:43] #42 closed

[2015-05-06 03:48] theatrekid09 commented on #40
https://github.com/theatrekid09/octocats/tree/gh_pages
file:///Users/mac/TIY-%20KC/Day2/Assignment%202/index.html

[2015-05-06 13:15] chrisbusta commented on #24
http://chrisbusta.github.io/octocats/
http://github.com/chrisbusta/octocats

[2015-05-06 13:15] #24 closed

[2015-05-06 18:10] leslienw commented on #32
http://leslienw.github.io/octocat

[2015-05-07 13:14] TRPMorrison commented on #41
I"m sorry.  I thought I closed this a few days ago!

[2015-05-07 13:14] #41 closed

[2015-05-07 14:11] twhitacre commented on #24
:+1: Looks good. Your CSS is nice and clean.

Be sure to watch your indentation on a few spots though.

[2015-05-07 14:12] twhitacre commented on #25
:+1: Great job! CSS looks great and I like seeing those comments in there.

[2015-05-07 14:13] twhitacre opened #44 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #45 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #46 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #47 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #48 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #49 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #50 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #51 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #52 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #53 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #54 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #55 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #56 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #57 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #58 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #59 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #60 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #61 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #62 "Assignment 3"

[2015-05-07 14:13] twhitacre opened #63 "Assignment 3"

[2015-05-07 14:17] twhitacre commented on #26
:+1: Looks good. There are a few layout issues that you can work on a bit more.

I'll go ahead and close this out, but take a look at getting those icons lined up properly.

Also, take a  look [here](https://github.com/jaleach/Assn2/blob/master/main.css#L4) - it looks like you started a CSS rule, but never finished it. This can cause some issues from time to time.

[2015-05-07 14:33] twhitacre commented on #27
:+1: Looks Great! Your CSS is well organized.

Take a look [here](https://github.com/JamieUdaho/assignment2/blob/master/main.css#L10) - you'll want to get in the habit of back-indenting those closing curly brackets. It will help you keep your code organized as your stylesheets get larger.

[2015-05-07 14:34] twhitacre commented on #28
:+1: Looks great! Your code is well organized.

[2015-05-07 14:40] twhitacre commented on #29
@johndenz - Can you post a link to your deployed version.

It will look similar to this - http://USERNAME.github.io/PROJECTNAME

[2015-05-07 15:31] twhitacre commented on #30
:+1: Looks great! Layout is good and your CSS is well organized.

[2015-05-07 15:32] twhitacre commented on #31
:+1: Looks great! Project looks good and your CSS is well laid out.

[2015-05-07 15:34] twhitacre commented on #33
:+1: Great work! Layout is tight and your CSS is well formatted.

[2015-05-07 15:35] twhitacre commented on #34
@mjhewett do you have a link to your project?

[2015-05-07 15:35] twhitacre commented on #35
:+1: Great work! Site and CSS both look great. Also, I love seeing comments already! Good practice to get into.

[2015-05-07 15:39] twhitacre commented on #36
:+1: Looks good!

Note [here](https://github.com/nickleach/octocats/blob/master/main.css#L31) where you floated all `ul`'s to the right. It makes your entire page go to the right since the whole thing is in a `ul`. Get used to being specific with what you want to be floated.

Also, see [here](https://github.com/nickleach/octocats/blob/master/main.css#L53-L59) - you'll what to make sure to keep the

[2015-05-07 15:40] twhitacre commented on #38
:+1: Looks great!

One thing to note, see [here](https://github.com/psamp/octocats/blob/master/main.css#L18-L23) as you'll want to make sure these and some other lines stay indented. It will work this way, but it's a great habit to get into early.

[2015-05-07 15:41] twhitacre commented on #39
:+1: Looks good! Both your layout and CSS file look great!

[2015-05-07 15:42] twhitacre commented on #40
@theatrekid09 - Can you post a link to the deployed (`gh-pages`) version?

[2015-05-07 15:43] twhitacre commented on #41
:+1: Looks great. Your site and CSS look on point!

Note: You don't need to use the GH Pages tool to create that deployed site. Just create a `gh-pages` branch and you are all set.

[2015-05-07 15:44] twhitacre commented on #42
:+1: Great work! Your site and CSS both look awesome!

[2015-05-07 15:46] twhitacre commented on #43
:+1: Looks good. I'll go ahead and close this, but if you have time to tighten it up, it would help you a bit.

Also, note [here](https://github.com/hdannyyi/octodex/blob/master/main.css#L49-L54). You'll want to make sure these lines stay indented as it is a good habit to get into early.

[2015-05-07 16:34] psamp commented on #38
Fixed. Thank you!

[2015-05-07 20:15] theatrekid09 commented on #34
http://theatrekid09.github.io/octocats/

[2015-05-07 20:15] theatrekid09 commented on #34
https://github.com/theatrekid09/octocats

[2015-05-07 23:07] johndenz commented on #29
git@github.com:johndenz/octocat2.git

[2015-05-08 00:48] tvpham11 commented on #42
Thanks, Tim!

[2015-05-09 19:05] jisaacks commented on #29
Hey @johndenz, that octocat2 repo you linked does not have any commits on it. Did you forget to `git push` ?

[2015-05-09 19:32] jisaacks commented on #40
@theatrekid09 the link you posted does not work. Please make sure to comment with the correct links.

Here is the link to your deployed version: http://theatrekid09.github.io/octocats/
Here is the link to your repo: https://github.com/theatrekid09/octocats

If you do not know how to get these links for future assignments, please get with me or Tim so we can show you.

As far as your page it looks

[2015-05-09 19:39] jisaacks commented on #32
Hey Leslie, great work so far, can you please try to fix the following issues and resubmit:

* The 3 author icons in the bottom of the middle octocat are overlapping.
* There is no bottom border under each octocat
* The gray notches (triangles) above the authors are missing
* The octocat names are not aligned with the author images

Also please format your CSS correctly. If you are unsure how to d

[2015-05-09 20:55] combs-justin-m commented on #45
Repo: https://github.com/combs-justin-m/Surf-and-Paddle

GH-Page: http://combs-justin-m.github.io/Surf-and-Paddle/

[2015-05-09 20:55] combs-justin-m commented on #45
Repo: https://github.com/combs-justin-m/Surf-and-Paddle

GH-Page: http://combs-justin-m.github.io/Surf-and-Paddle/

[2015-05-09 20:55] #45 closed

[2015-05-09 23:47] kishanbhakta commented on #30
Was there anything I needed some improvements on?

[2015-05-10 02:01] leslienw commented on #32
Ok, thanks. Working on that today.

[2015-05-10 06:41] leslienw commented on #32
http://leslienw.github.io/octocat  Still working on this.

[2015-05-10 17:39] #32 closed

[2015-05-10 21:04] nickleach commented on #56
Repo: https://github.com/nickleach/Surf_Paddle
GH-Page: http://nickleach.github.io/Surf_Paddle/

[2015-05-10 23:09] mmarcinek commented on #55
http://mmarcinek.github.io/surf-paddle/ (gh-pages)
https://github.com/mmarcinek/surf-paddle (github repo master)

This is normal mode only :(
Still working on the responsive build.

[2015-05-10 23:09] #55 closed

[2015-05-10 23:24] jisaacks commented on #56
Nick great job on this. There is one thing I would like you to change. The 3 buttons, `read comments`, `read later` and `share this post`.

They should all initially be the grey color, then turn the blue color on hover.

Great work though!! :+1:

[2015-05-10 23:33] jisaacks commented on #55
@mmarcinek Great work on this.

There is a little weirdness with the 4 rollover images on the bottom on my tiny screen. It looks great if I expand my window though. You could always go back and fix that if you are looking for more to do.

Also, if you look at your index.html page's code in github, its hard to read. Some of it is because it is not formatted perfect, but for the most part it is beca

[2015-05-10 23:35] jaleach commented on #63
http://jaleach.github.io/Surf_Paddle
https://github.com/jaleach/Surf_Paddle

[2015-05-10 23:49] jisaacks commented on #45
Great work on this, Justin!

I love that you even made it responsive! Really awesome :+1:

I am seeing some funniness with the `ad.png`, it is not loading for me. Your code looks correct though and when I load the image directly (http://combs-justin-m.github.io/Surf-and-Paddle/images/ad.png) it works. However when I view the image in your repo (https://github.com/combs-justin-m/Surf-and-Paddle/blo

[2015-05-10 23:51] jisaacks commented on #63
@jaleach this is the issue for @hdannyyi. Please be sure to comment on the issue assigned to you.

If you are unsure how to find it, it is right here: #46

[2015-05-11 00:07] combs-justin-m commented on #45
I messaged Tim about this on slack... I pushed up a new img and even saved it as a different format...It turned out (for me) that Adblock was preventing the image from loading, haha.

I can try fixing it again if that's not the case for you.

[2015-05-11 00:23] jisaacks commented on #45
ahhh that is correct! When I turned off add-block it worked. Makes sense given the file name. I had not considered that though. I was a little stumped looking at the code and everything looked correct, now it makes perfect sense.

[2015-05-11 01:33] JamieUdaho commented on #47
http://jamieudaho.github.io/assignment3/

https://github.com/JamieUdaho/assignment3

[2015-05-11 01:33] #47 closed

[2015-05-11 01:43] krose422 commented on #51
Repo: https://github.com/krose422/Assignment3
gh-pages: http://krose422.github.io/Assignment3

[2015-05-11 01:43] #51 closed

[2015-05-11 01:56] jisaacks commented on #47
This looks great @JamieUdaho keep up the good work :+1:

Just a little FYI.. You can load multiuple fonts with a single url, just put a pipe `|` between each font name so the two:

[code]

Could be combined into:

[code]

:)

[2015-05-11 02:02] JamieUdaho commented on #47
That's a great suggestion. I'll definitely go that route in the future! Thanks JD!

[2015-05-11 02:03] jisaacks commented on #51
Fantastic work @krose422!!! It looks great! :)

I saw that you have a lot of commented out HTML in your page. Don't be afraid to delete what you don't need anymore. You can always get it back if needed, that is what git is for!

[2015-05-11 02:18] jjoyave1 commented on #48
https://github.com/jjoyave1/surf-paddle-proj

https://github.com/jjoyave1/surf-paddle-proj/tree/gh-pages

See you in the morning.

[2015-05-11 02:25] jisaacks commented on #48
Hey @jjoyave1 good work on this! :+1:

I noticed you were linking to a [tiny.css](https://github.com/jjoyave1/surf-paddle-proj/blob/gh-pages/index.html#L10) but there was no tiny.css to load. No big deal though.

[2015-05-11 02:26] nickleach commented on #56
Thanks JD,
I fixed the hover on the 3 buttons.
http://nickleach.github.io/Surf_Paddle/
https://github.com/nickleach/Surf_Paddle

[2015-05-11 02:26] #56 closed

[2015-05-11 04:08] jjoyave1 commented on #48
hmm, i rm'd it in github, i think i pushed it once before though.  my apologies.

[2015-05-11 04:08] #48 closed

[2015-05-11 04:38] MeadeSlocomb commented on #53
http://meadeslocomb.github.io/Surf_Paddle/

https://github.com/MeadeSlocomb/Surf_Paddle

I know there are a number of things I did inefficiently or in a way that doesn't allow for it to be responsive.  I hope to tackle this again from scratch if I get the time.

[2015-05-11 04:57] tvpham11 commented on #62
Repo: https://github.com/tvpham11/Surf_Paddle
GH-pages: http://tvpham11.github.io/Surf_Paddle

I admit that this is not absolutely perfect, especially the buttons under the blog post. I am submitting this because I put in more hours than I can remember this weekend and am too tired to keep adjusting the buttons. My apologies for this.

[2015-05-11 05:25] TRPMorrison commented on #61
Hi JD/Tim -

When I thought I was finally done, I tried to remove the wildcard borders, but for some reason, it shifted my page downward towards the middle.  I tried troubleshooting using Clear and :before and :after, but it wouldn't change.  I kept the red border on there to show how I was expecting it to display.

https://github.com/TRPMorrison/Surf_Paddle

http://trpmorrison.github.io/Surf_Padd

[2015-05-11 11:49] psamp commented on #58
repo: https://github.com/psamp/Surf_Paddle
gh-pages: http://psamp.github.io/Surf_Paddle/

[2015-05-11 11:50] robertfine4631 commented on #59
http://robertfine4631.github.io/Surf-and-Paddle-Website-A3-/

yesterday I had a computer malfunction and lost a bunch of work. I will make up what I lost today but I wanted to be able to at least have something to turn in

[2015-05-11 11:51] #58 closed

[2015-05-11 11:54] mjhewett commented on #54
https://github.com/mjhewett/Day3/tree/gh-pages

[2015-05-11 11:56] TRPMorrison commented on #61
I woke up with a revelation on how to fix it and it worked!
It's not 100% complete but I do plan on working on the responsive portion later.

http://trpmorrison.github.io/Surf_Paddle/
https://github.com/TRPMorrison/Surf_Paddle

[2015-05-11 11:57] mjhewett commented on #34
file:///Users/maxhewett/tiy/octocats/index.html

[2015-05-11 11:58] mjhewett commented on #54
https://github.com/mjhewett/Day3/tree/master

[2015-05-11 12:54] mjhewett commented on #54
http://mjhewett.github.io/Day3/

[2015-05-11 12:55] mjhewett commented on #34
http://mjhewett.github.io/octocats/

[2015-05-11 12:55] #34 closed

[2015-05-11 13:03] leslienw commented on #52
https://github.com/leslienw/surfandpaddle

[2015-05-11 13:15] jisaacks commented on #53
Good work on this @MeadeSlocomb :+1:

A couple of things, when you included the fonts, it looks like you checked every available font which can cause unnecessary load time. You only need to check the fonts you are planning on using.

Also remember to close out the issue when you are finished so that Tim and I know you are ready for one of us to look at it.

:)

[2015-05-11 13:15] #53 closed

[2015-05-11 13:19] jisaacks commented on #62
@tvpham11 first of all, great job on what you have done so far. It looks great.

I would love for you to get those buttons looking correct, so why don't you get with either Tim or I this afternoon and one of us can help you.

:)

[2015-05-11 13:22] jisaacks commented on #61
Hi @TRPMorrison, the link http://trpmorrison.github.io/Surf_Paddle/ is not the surf and paddle website. It appears to be one of the canned gh-pages sites. How did you deploy it?

[2015-05-11 13:25] jisaacks commented on #58
@psamp good work on this.

There is white space under the 4 rollover images on the bottom and the 3 buttons under the paragraph do not look right. If you get a chance you could go back and work on those.

[2015-05-11 13:27] jisaacks commented on #59
@robertfine4631 thanks for turning in what you have and I am sorry to hear about your computer malfunction. However, that is why you want to commit and push to github often.

I am going to reopen this, please close again when you have it closer. :)

[2015-05-11 13:31] tvpham11 commented on #62
Thanks, JD. I will find one of you guys after lunch to work on the buttons! :smile:

[2015-05-11 13:32] jisaacks commented on #54
@mjhewett great work!

I want to reopen and give you a chance to work on those 3 buttons under the paragraph. I would love for you to get those closer to the screenshot. Please see Tim or I if you need help.

Also, please work on proper code formatting/indentation especially as we get into JavaScript your code will be very hard to understand and debug if it is not formatted correctly.

:)

[2015-05-11 13:33] kishanbhakta commented on #50
http://kishanbhakta.github.io/Surf-and-Paddle-Co/

I was not able to finish due to computer bugging.

[2015-05-11 13:34] jisaacks commented on #34
Awesome! :+1:

[2015-05-11 13:40] jisaacks commented on #52
@leslienw I am confused. When I visit your repo the `index.html` file is empty. Did something go wrong? You may have not pushed to github correctly. See Tim or I this afternoon and we can help you figure that out.

:)

[2015-05-11 13:42] jisaacks commented on #50
@kishanbhakta what you have so far looks great. I am confident that once you get your computer sorted out you will be able to knock out the rest! :)

[2015-05-11 13:49] jisaacks commented on #16
@oatneal17 's assignment is here: http://codepen.io/oatneal17/pen/QbjwZg?editors=110

He accidentally posted it on the wrong issue: #2

[2015-05-11 13:49] #16 closed

[2015-05-11 16:06] jaleach commented on #63
http://jaleach.github.io/Surf_Paddle
https://github.com/jaleach/Surf_Paddle

[2015-05-11 17:17] #29 closed

[2015-05-11 17:17] #49 closed

[2015-05-11 17:23] twhitacre opened #64 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #65 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #66 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #67 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #68 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #69 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #70 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #71 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #72 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #73 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #74 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #75 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #76 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #77 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #78 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #79 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #80 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #81 "Assignment 4"

[2015-05-11 17:23] twhitacre opened #82 "Assignment 4"

[2015-05-11 17:29] twhitacre commented on #46
Moving these over here to their proper place.

http://jaleach.github.io/Surf_Paddle
https://github.com/jaleach/Surf_Paddle

[2015-05-11 17:38] combs-justin-m commented on #65
Blog: http://justincombs.me/blog/
Repo: https://github.com/combs-justin-m/JS-Intro

[2015-05-11 17:40] tvpham11 commented on #81
Repo: https://github.com/tvpham11/JS-Intro

[2015-05-11 17:43] jisaacks commented on #65
Hey @combs-justin-m thanks, I see your link points to your blog, but not to a specific article. Can you please provide a link to an article that you wrote for this assignment.

Also, if you do not want your articles you write for class in your main blog, feel free to open a separate private blog. That is up to you though :)

[2015-05-11 17:50] robertfine4631 commented on #78
http://robertfine4631.github.io/JS-INTRO/

[2015-05-11 17:53] jjoyave1 commented on #68
https://medium.com/@jjoyave1/get-init-joe-learns-html-css-and-js-6e20c3be1f90

https://github.com/jjoyave1/JS-Intro

YOU HELD ME DOWN AND MADE ME BLOG AAAAAHH

Na, seems cool.  I know what i'm going to be reading for the rest of the day.

[2015-05-11 17:54] twhitacre commented on #46
@jaleach - This is looking really good. I would make a few updates to finish out the buttons though and wrap up the project.

Also, consider putting a width and using `margin: 0 auto;` to center the entire container.

Let me know if you have any questions.

[2015-05-11 17:55] #68 closed

[2015-05-11 17:55] robertfine4631 commented on #78
https://medium.com/@RobertFine

[2015-05-11 17:57] #78 closed

[2015-05-11 18:13] mjhewett commented on #73
https://github.com/mjhewett/js-Intro

https://medium.com/@maxhewett

[2015-05-11 18:13] #73 closed

[2015-05-11 18:21] jaleach commented on #66
https://medium.com/@jimleach
https://github.com/jaleach/JS-Intro

[2015-05-11 18:21] #66 closed

[2015-05-11 18:33] tvpham11 commented on #62
JD, I think I fixed it!

[2015-05-11 18:33] #62 closed

[2015-05-11 18:34] kishanbhakta commented on #69
http://kishanbhakta.github.io/Intro-to-JS-2/

This is from my Thinkpad.

[2015-05-11 18:42] tvpham11 commented on #62
I couldn't update my gh-pages and read this: https://help.github.com/articles/creating-project-pages-manually/

Should I follow these steps? I'm slightly scared of rm -rf...

[2015-05-11 19:03] tvpham11 commented on #81
Blog post: https://medium.com/@vi_pham/cf0105fa11b2

[2015-05-11 19:03] #81 closed

[2015-05-11 19:04] hdannyyi commented on #82
blog post https://medium.com/@hdannyyi

https://github.com/hdannyyi/JS-Intro/blob/master/normal.js

[2015-05-11 19:05] #82 closed

[2015-05-11 19:08] mmarcinek commented on #74
https://medium.com/@marcinekm1/hello-world-6a67bdc4a000  (da' blog)
https://github.com/mmarcinek/JS-Intro (da' hub)

[2015-05-11 19:08] #74 closed

[2015-05-11 19:13] jaleach commented on #46
http://jaleach.github.io/Surf_Paddle
https://github.com/jaleach/Surf_Paddle

[2015-05-11 19:13] #46 closed

[2015-05-11 19:17] psamp commented on #77
blog post: https://medium.com/@psamp/05-11-15-562c641626b4

[2015-05-11 19:40] leslienw commented on #71
https://github.com/leslienw/JS-Intro

[2015-05-11 19:40] #71 closed

[2015-05-11 20:01] TRPMorrison commented on #61
JD/Tim -

Mike realized I had merge conflicts with my branches because I changed my repo name (which is why it didn't deploy to GH-Pages).  We created a new repo called Surf, but if you want to view the number of commits, you can find that on the original Repo link called "Surf_Paddle".  Links to both are below.

Trini

GH PAGES:  http://trpmorrison.github.io/Surf/
ORIGINAL COMMITS:  https://githu

[2015-05-11 20:17] leslienw commented on #52
https://github.com/leslienw/surfandpaddle
http://leslienw.github.io/surfandpaddle

I am working on this today.

[2015-05-11 20:23] combs-justin-m commented on #65
http://justincombs.me/2015/05/11/the-most-misunderstood-programming-language/

[2015-05-11 20:23] #65 closed

[2015-05-11 20:38] psamp commented on #77
gh-pages: http://psamp.github.io/JS_Intro/
repo: https://github.com/psamp/JS_Intro

[2015-05-11 21:16] theatrekid09 commented on #79
Blog Post : https://medium.com/p/998057d02cdc/

JS-Intro Assignment: https://github.com/theatrekid09/JS-Intro

[2015-05-11 21:43] krose422 commented on #70
Blog post:  https://medium.com/@kelleyannerose/am-i-a-web-developer-yet-8caac33035c4
Repo JS-Intro: https://github.com/krose422/JS-Intro

[2015-05-11 21:44] #70 closed

[2015-05-12 01:07] nickleach commented on #75
Blog: https://medium.com/@nickleach/hello-world-6527268ca6e0
REPO: https://github.com/nickleach/JS-Intro

[2015-05-12 01:07] #75 closed

[2015-05-12 02:27] MeadeSlocomb commented on #72
https://github.com/MeadeSlocomb/JS-Intro

https://medium.com/@MeadeSlocomb/git-init-to-win-it-3a519c9cd1da

[2015-05-12 02:27] #72 closed

[2015-05-12 02:32] TRPMorrison commented on #80
LINK TO JS ANSWERS:  https://github.com/TRPMorrison/JS-Intro/blob/master/main.js

LINK TO BLOG:  https://medium.com/@Makirio/89b9ab3db29d

[2015-05-12 02:32] #80 closed

[2015-05-12 02:41] JamieUdaho commented on #67
https://github.com/JamieUdaho/JS-Intro

https://medium.com/@jamiegamblin/week-one-recap-at-the-iron-yard-b6119c67b786

[2015-05-12 02:41] #67 closed

[2015-05-12 03:11] leslienw commented on #71
https://medium.com/@LeslieNicoleW/lotr-and-how-it-applies-to-life-81fec8d93f22

[2015-05-12 05:07] chrisbusta commented on #64
https://github.com/chrisbusta/JS-Intro
https://medium.com/@_Boosta/my-life-at-the-iron-yard-efdcc4664e0d

[2015-05-12 05:07] #64 closed

[2015-05-12 11:56] #77 closed

[2015-05-12 13:07] #79 closed

[2015-05-12 13:47] twhitacre commented on #46
:+1: Looks good.

One final note, when you do use `margin: 0 auto`, you also need to set a `width`. Otherwise it won't have a number to calculate the margins with.

[2015-05-12 13:47] twhitacre commented on #52
@leslienw - I'm going to re-open this while you work on it. Once you are ready for us to look at it, just close this issue.

[2015-05-12 13:48] twhitacre commented on #61
@TRPMorrison - looks like you got the deployment down.

I'm going to re-open this though while you work on finishing it up. Let JD or I know if you need help with anything.

[2015-05-12 13:49] twhitacre commented on #62
:+1: Looks much better! Good job.

[2015-05-12 13:53] twhitacre commented on #65
:+1: Looks good! Love your site.

[2015-05-12 13:58] twhitacre commented on #64
:+1: Great post and great work on the JS.

[2015-05-12 14:00] twhitacre commented on #66
:+1: Code looks great and good to see you have a blog started.

[2015-05-12 14:02] twhitacre commented on #67
:+1: Code looks good.

Great blog post!

[2015-05-12 14:05] twhitacre commented on #68
:+1: Looks great.

Great blog post! Sorry, if it was painful :smile:

Also, on [this line](https://github.com/jjoyave1/JS-Intro/blob/master/main.js#L43), remember when you concat strings, you need to add a space in there.

[2015-05-12 14:07] twhitacre commented on #69
:+1: Code looks good. Note, [here](https://github.com/kishanbhakta/Intro-to-JS-2/blob/gh-pages/main.js#L24-L25) that every time you reset `math =` to something else, it will override the original value. I assume you were just trying to answer the question, but keep that in mind.

I'm going to open this back up, since you still need to post a link to your blog post.

[2015-05-12 14:10] twhitacre commented on #70
:+1: Code looks great.

Awesome blog post. Really neat story!

[2015-05-12 14:14] twhitacre commented on #71
:+1: Looks good. The code looks great. Note that [here](https://github.com/leslienw/JS-Intro/blob/master/main.js#L3), the correct answer is `undefined` as the variable is set. There is a big difference in programming between something that is `undefined` vs something that is empty etc.

Blog post looks great! Love the LOTR!

[2015-05-12 14:20] twhitacre commented on #72
:+1: Code looks great, and great blog post!

[2015-05-12 14:21] twhitacre commented on #73
:+1: code looks great.

Also, :+1: for blending music and programming!

[2015-05-12 14:22] twhitacre commented on #75
:+1: Code and blog post look great!

[2015-05-12 14:24] twhitacre commented on #74
:+1: great work and great blog post

[2015-05-12 14:26] twhitacre commented on #77
:+1: Great work and great blog.

Note that [here](https://github.com/psamp/JS_Intro/blob/master/main.js#L3), when a variable is created but nothing is assigned to it, it is technically `undefined` rather than just "nothing".

[2015-05-12 14:29] tvpham11 commented on #62
Thanks, Tim!

[2015-05-12 14:29] twhitacre commented on #79
Blog looks good!

Code is looking alright as well. Note in [this section](https://github.com/theatrekid09/JS-Intro/blob/master/main.js#L1-L16) that every time you reset a variable it loses what it was previously set to. If you ran this code, you would get some unexpected results.

Let me know if you have any questions about this.

[2015-05-12 14:50] twhitacre commented on #82
:+1: Code looks good and great start on a blog!

[2015-05-12 14:54] twhitacre commented on #78
:+1: Looks good.

Note [here](https://github.com/robertfine4631/JS-INTRO/blob/master/main.js#L48) that when you use a single equals site (`x = 5`), you are assigning value, not checking equality. To check equality you should use the double (`==`) or triple (`===`) equals.

[2015-05-12 14:57] twhitacre commented on #80
:+1: Code and Blog look great! Great work!

[2015-05-12 14:58] twhitacre commented on #81
:+1: Looks great!

I love the picture or TWO coffees! Great blog post!

[2015-05-12 14:59] twhitacre commented on #20
:+1: Great job!

[2015-05-12 15:00] twhitacre commented on #21
@hdannyyi any word on this?

[2015-05-12 15:00] twhitacre commented on #37
@oatneal17 any word on this?

[2015-05-12 15:00] twhitacre commented on #44
@chrisbusta any word on this?

[2015-05-12 15:00] twhitacre commented on #57
@oatneal17 any word on this?

[2015-05-12 15:00] twhitacre commented on #60
@theatrekid09 any word on this?

[2015-05-12 15:01] twhitacre commented on #63
@hdannyyi any word on this?

[2015-05-12 15:01] twhitacre commented on #76
@oatneal17 any word on this?

[2015-05-12 15:06] psamp commented on #77
Thank you! And "nothing" is actually "undefined," got it. :)

[2015-05-12 18:46] hdannyyi commented on #21
http://codepen.io/hdannyyi/pen/eNZNvr

[2015-05-12 18:47] #21 closed

[2015-05-12 20:37] twhitacre opened #83 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #84 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #85 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #86 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #87 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #88 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #89 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #90 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #91 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #92 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #93 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #94 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #95 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #96 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #97 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #98 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #99 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #100 "Assignment 5"

[2015-05-12 20:37] twhitacre opened #101 "Assignment 5"

[2015-05-12 20:40] krose422 commented on #89
Repo: https://github.com/krose422/JS-Calculate
GH-Pages: http://krose422.github.io/JS-Calculate/

[2015-05-12 20:40] #89 closed

[2015-05-12 20:40] JamieUdaho commented on #86
https://github.com/JamieUdaho/assignment5

http://jamieudaho.github.io/assignment5/

[2015-05-12 20:40] #86 closed

[2015-05-12 20:48] mjhewett commented on #92
http://mjhewett.github.io/calculator/

[2015-05-12 20:48] #92 closed

[2015-05-12 20:57] nickleach commented on #94
Repo: https://github.com/nickleach/Lets_Do_Some_Math
GH-Page: http://nickleach.github.io/Lets_Do_Some_Math/

[2015-05-12 20:57] #94 closed

[2015-05-12 21:03] tvpham11 commented on #100
Repo: https://github.com/tvpham11/calculator-basic
GH-pages: http://tvpham11.github.io/calculator-basic

[2015-05-12 21:03] #100 closed

[2015-05-12 21:33] theatrekid09 commented on #98
Calculator: https://github.com/theatrekid09/Calculator

[2015-05-12 21:33] #98 closed

[2015-05-12 21:42] leslienw commented on #90
https://github.com/leslienw/assignment05

http://leslienw.github.io/assignment05

[2015-05-12 21:42] #90 closed

[2015-05-12 22:20] combs-justin-m commented on #84
Repo: https://github.com/combs-justin-m/Calculator
Live Site: http://combs-justin-m.github.io/Calculator/

[2015-05-12 22:20] #84 closed

[2015-05-13 00:53] chrisbusta commented on #83
https://github.com/chrisbusta/calculate.git

[2015-05-13 02:10] theatrekid09 commented on #98
deployed version: http://theatrekid09.github.io/Calculator/

repo:  https://github.com/theatrekid09/Calculator/tree/gh-pages

[2015-05-13 02:57] mmarcinek commented on #93
http://mmarcinek.github.io/assignment5/ (gh-pages of normal mode)
https://github.com/mmarcinek/assignment5 (gh repo of normal mode)

Still working on hard mode, will comment when finished, but, this link is to the non-functioning but fully styled HTML/CSS of the calculator.   http://mmarcinek.github.io/calculator/

[2015-05-13 02:57] #93 closed

[2015-05-13 03:05] jaleach commented on #85
https://github.com/jaleach/Lets-do-math
 http://jaleach.github.io/Lets-do-math

[2015-05-13 03:05] #85 closed

[2015-05-13 03:50] kishanbhakta commented on #88
http://kishanbhakta.github.io/Calculator/

[2015-05-13 03:50] #88 closed

[2015-05-13 04:00] jjoyave1 commented on #87
https://github.com/jjoyave1/assignment5/tree/gh-pages

hard mode semi-complete, only have the calculator working for single digits, but it's a start!

normal mode link: jjoyave1.github.io/assignment5

[2015-05-13 04:00] #87 closed

[2015-05-13 04:05] kishanbhakta commented on #69
https://medium.com/@bhktkshn

[2015-05-13 04:05] #69 closed

[2015-05-13 06:51] MeadeSlocomb commented on #91
Linking to gh-pages repository rather than master due to a file extension case sensitivity error that I will explain in class

https://github.com/MeadeSlocomb/Calc/tree/gh-pages

http://meadeslocomb.github.io/Calc/

[2015-05-13 06:51] #91 closed

[2015-05-13 11:33] TRPMorrison commented on #99
REGULAR MODE:  https://github.com/TRPMorrison/Calculator
HARD MODE http://trpmorrison.github.io/HardCalculator/

[2015-05-13 11:59] robertfine4631 commented on #97
http://robertfine4631.github.io/Day7HW/

https://github.com/robertfine4631/Day7HW

[2015-05-13 11:59] #97 closed

[2015-05-13 12:12] psamp commented on #96
repo: https://github.com/psamp/simplecalculator
gh-pages: https://github.com/psamp/simplecalculator

[2015-05-13 12:12] #96 closed

[2015-05-13 12:46] psamp commented on #96
gh-pages here, my bad: http://psamp.github.io/simplecalculator/

[2015-05-13 13:03] chrisbusta commented on #83
https://github.com/chrisbusta/calculate/tree/gh-pages

http://chrisbusta.github.io/calculate

[2015-05-13 13:03] #83 closed

[2015-05-13 13:08] chrisbusta commented on #44
Sorry Tim almost done with it. Should be done with it later today.

[2015-05-13 15:03] jisaacks commented on #100
Great job!!

[2015-05-13 15:04] jisaacks commented on #99
@TRPMorrison please deploy the regular mode to github pages. :)

[2015-05-13 15:06] jisaacks commented on #98
Great work!!

[2015-05-13 15:10] jisaacks commented on #97
Great work on this. A couple things to note. You are creating the variables `number1` and `number2` but you never used them. Also when created a regular function it should start with a lowercase letter. It is still valid to start with a capitol but it is a convention that if it starts with a capitol it is a special type of function called a `constructor` that we will learn about later.

[2015-05-13 15:11] jisaacks commented on #94
Great work!

[2015-05-13 15:13] jisaacks commented on #93
Awesome stuff man!

[2015-05-13 15:14] jisaacks commented on #92
Great work!

Next time please post a link to both the page and the repo so it is easier for me to find. Great job though! :)

[2015-05-13 15:17] jisaacks commented on #91
Great job!

[2015-05-13 15:19] jisaacks commented on #90
Great job!

[2015-05-13 15:21] jisaacks commented on #89
Great job on this! I love it! :)

However all your functions take `chosenNum1, chosenNum2` params but they are actually not necesary because you calculate those values inside the function, they are not passed in when the function is called.

[2015-05-13 15:23] jisaacks commented on #88
You rock! I loved this. Looks cool too.

[2015-05-13 15:24] jisaacks commented on #87
Great work! Keep it up! :)

[2015-05-13 15:26] jisaacks commented on #86
Awesome awesome job! Code looks great, design looks great. I love it! :)

[2015-05-13 15:27] jisaacks commented on #85
Awesome job!

[2015-05-13 15:28] jisaacks commented on #84
Great work. Love the black board theme.

[2015-05-13 15:33] jisaacks commented on #83
Great job!!

[2015-05-13 20:06] twhitacre opened #102 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #103 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #104 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #105 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #106 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #107 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #108 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #109 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #110 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #111 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #112 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #113 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #114 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #115 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #116 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #117 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #118 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #119 "Assignment 6"

[2015-05-13 20:06] twhitacre opened #120 "Assignment 6"

[2015-05-13 20:09] krose422 commented on #108
GH-Pages Link: http://krose422.github.io/Assignment3
Sass document link: https://github.com/krose422/Assignment3/blob/master/style.scss
JS Questions Doc: https://github.com/krose422/Assignment6/blob/master/functions.js

[2015-05-13 20:09] #108 closed

[2015-05-13 20:14] tvpham11 commented on #119
Functions repo: https://github.com/tvpham11/functions

[2015-05-13 20:30] combs-justin-m commented on #103
functions.js: https://github.com/combs-justin-m/Assignment-6/blob/master/functions.js

sassy GH-Page: http://combs-justin-m.github.io/Surf-and-Paddle/

main.scss: https://github.com/combs-justin-m/Surf-and-Paddle/blob/master/styles/main.scss

[2015-05-13 20:30] #103 closed

[2015-05-13 20:30] JamieUdaho commented on #105
JS Assignment 6: https://github.com/JamieUdaho/assignment6

Surf & Paddle SCSS: https://github.com/JamieUdaho/assignment3/blob/master/main.scss

Surf & Paddle GH Pages: http://jamieudaho.github.io/assignment3

[2015-05-13 20:30] #105 closed

[2015-05-13 20:52] jjoyave1 commented on #106
gh-pages: http://jjoyave1.github.io/surf-paddle-proj/

https://github.com/jjoyave1/surf-paddle-proj/blob/gh-pages/main.scss

submitting the problems.js this evening.

[2015-05-13 21:48] kishanbhakta commented on #107
Assignment Functions.js
https://github.com/kishanbhakta/Functions_Day8_ASS/blob/master/functions.js

[2015-05-13 22:41] robertfine4631 commented on #116
http://robertfine4631.github.io/assignment6

[2015-05-13 22:52] hdannyyi commented on #120
https://github.com/hdannyyi/Assignment-06/blob/master/function.js
part 1

[2015-05-13 22:55] jjoyave1 commented on #106
https://github.com/jjoyave1/JS-Problems-1/blob/master/functions.js

had to do this twice, iTerm/Sublime was finnicky today.  Perhaps a restart.

[2015-05-14 00:14] jaleach commented on #104
https://github.com/jaleach/Function-practice/blob/master/functions.js
http://jaleach.github.io/Surf_Paddle
https://github.com/jaleach/Surf_Paddle/blob/sass/main.scss
I kept getting errors when trying to git merge with master.

[2015-05-14 00:14] #104 closed

[2015-05-14 01:29] mjhewett commented on #111
I also got the comment/share/read later buttons working.

https://github.com/mjhewett/jav-hw

https://github.com/mjhewett/Day3/tree/sass

http://mjhewett.github.io/Day3/

[2015-05-14 01:29] #111 closed

[2015-05-14 02:52] tvpham11 commented on #119
Surf & Paddle -
Repo:  https://github.com/tvpham11/Surf_Paddle
GH-pages: http://tvpham11.github.io/Surf_Paddle/

To be honest, I messed something up while working on this and am feeling really light-headed. I apologize for the sub-par quality and will re-work this as requested but I must sleep since I had been getting about 5 hours per night the last 4 nights.

[2015-05-14 02:52] #119 closed

[2015-05-14 02:54] nickleach commented on #113
GH page: http://nickleach.github.io/Surf_Paddle/
SASS = https://github.com/nickleach/Surf_Paddle/blob/sass/main.scss
Function practice= https://github.com/nickleach/js-functions/blob/master/functions.js

I encountered some merge conflicts with the Surf Paddle assignment but I think I resolved them.

[2015-05-14 02:54] #113 closed

[2015-05-14 03:22] #106 closed

[2015-05-14 03:24] mmarcinek commented on #112
https://github.com/mmarcinek/JavaScript_Functions (JavaScript Functions)
https://github.com/mmarcinek/surf-paddle/tree/with-sass (sass branch, surf and paddle)

I encountered a merge conflict to master and gh-pages, I will come to you for help with that tomorrow. It's a real mess that I am pretty sure I know what happened, but I don't know how to fix.

[2015-05-14 03:24] #112 closed

[2015-05-14 04:05] chrisbusta commented on #44
https://github.com/chrisbusta/surf-and-paddle/tree/gh-pages

[2015-05-14 04:09] chrisbusta commented on #44
https://github.com/chrisbusta/surf-and-paddle

[2015-05-14 04:18] chrisbusta commented on #44
http://chrisbusta.github.io/surf-and-paddle/

[2015-05-14 10:21] leslienw commented on #109
https://github.com/leslienw/functions.js

[2015-05-14 10:45] psamp commented on #115
JS repo: https://github.com/psamp/may13hw

[2015-05-14 11:55] TRPMorrison commented on #118
Hi JD -

I struggled with the madlib for some reason I don't think I wrote the code to store the words, and didn't get a chance to do the Sass.  I'll finish it later today.

Trini

REPO:  https://github.com/TRPMorrison/FunctionsJS
GH-PAGES:  http://trpmorrison.github.io/FunctionsJS

[2015-05-14 12:43] psamp commented on #115
gh-pages: http://psamp.github.io/Surf_Paddle/
s&p repo: https://github.com/psamp/Surf_Paddle/tree/master

[2015-05-14 12:52] MeadeSlocomb commented on #110
https://github.com/MeadeSlocomb/Assignment6/blob/master/functions.js

https://github.com/MeadeSlocomb/Surf_Paddle/blob/gh-pages/main.scss

http://meadeslocomb.github.io/Surf_Paddle/

[2015-05-14 12:52] #110 closed

[2015-05-14 13:22] theatrekid09 commented on #60
I'm falling a little behind on homework so, I'm just going to turn this in so I can get back to it on the weekends when I have more time. It still needs alot of work.
Also I get this error when I try to make the page go live :
 Your site is having problems building: The submodule surfandpaddle was not properly initialized with a .gitmodules file. For more information, see https://help.github.com/a

[2015-05-14 13:36] theatrekid09 commented on #40
repo: https://github.com/theatrekid09/octocats/tree/gh-pages

http://theatrekid09.github.io/octocats/

[2015-05-14 15:15] mjhewett commented on #54
fixed it on the latest assignment

[2015-05-14 15:15] #54 closed

[2015-05-14 15:56] twhitacre commented on #96
:+1: Great work!

Your code is very well organized.

[2015-05-14 16:02] twhitacre commented on #103
:+1:

SASS file looks great. Very organized.

Your JS is well written and everything works great

[2015-05-15 05:34] #40 closed

[2015-05-15 16:10] chrisbusta commented on #102
https://github.com/chrisbusta/functionjs

[2015-05-15 16:11] chrisbusta commented on #102
Will have the other part of homework later today.

[2015-05-16 15:51] twhitacre opened #121 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #122 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #123 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #124 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #125 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #126 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #127 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #128 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #129 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #130 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #131 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #132 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #133 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #134 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #135 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #136 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #137 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #138 "Assignment 7"

[2015-05-16 15:51] twhitacre opened #139 "Assignment 7"

[2015-05-17 02:52] jjoyave1 commented on #125
https://github.com/jjoyave1/JS-Etsy
link to page: http://jjoyave1.github.io/JS-Etsy

https://github.com/jjoyave1/JS-Problems2

[2015-05-17 02:55] #125 closed

[2015-05-17 22:34] leslienw commented on #52
Repository - https://github.com/leslienw/surfandpaddle
Gh-pages - http://leslienw.github.io/surfandpaddle

I know there's some other things to fix. Just thought I'd turn in what I currently have.
Taken me forever to get it as close as possible!

[2015-05-17 22:39] mjhewett commented on #130
https://github.com/mjhewett/assignment7

http://mjhewett.github.io/assignment7/

[2015-05-17 23:39] combs-justin-m commented on #122
Etsy GH: file:///Users/admin/TIY/projects/etsy-data-parsing/index.html
Etsy Repo: https://github.com/combs-justin-m/Etsy-Data-Parsing

Exercises.js GH: http://combs-justin-m.github.io/Array-Exercises/
Exercises.js Repo: https://github.com/combs-justin-m/Array-Exercises

[2015-05-17 23:39] #122 closed

[2015-05-18 00:36] theatrekid09 commented on #60
http://theatrekid09.github.io/Final-Surf-and-Paddle

I can't push my final version up to git hub its not working

[2015-05-18 00:55] MeadeSlocomb commented on #129
Etsy listings:

http://meadeslocomb.github.io/Assignment7/

JS Exercises:

http://meadeslocomb.github.io/Assignment7Exercises/

[2015-05-18 01:15] nickleach commented on #132
Part 1
Repo: https://github.com/nickleach/Etsy-Data-Parsing
GH-Page: http://nickleach.github.io/Etsy-Data-Parsing/

Part 2
Repo: https://github.com/nickleach/JavaScript-Exercises
GH-Page: http://nickleach.github.io/JavaScript-Exercises/
I'm a little lost on the last question

[2015-05-18 01:15] #132 closed

[2015-05-18 02:07] krose422 commented on #127
I wanted to go ahead and do some HTML and CSS practice this weekend, so I created a little two page site with the exercises. There are two functions not working exactly properly with the DOM, but I did get them to work before I tried to include the DOM at all. I left them in there, just commented out so you can at least see the working functions.

Etsy items repo: https://github.com/krose422/Assig

[2015-05-18 02:23] jaleach commented on #123
https://github.com/jaleach/edata-assignment-7
 http://jaleach.github.io/edata-assignment-7

https://github.com/jaleach/Assgnexercise7

[2015-05-18 02:28] mmarcinek commented on #131
https://github.com/mmarcinek/etsy-data (happily completed in full, repo for part 1)
http://mmarcinek.github.io/etsy-data/ (gh-pages for part 1);

https://github.com/mmarcinek/Functions_07 (part 2, mostly complete, second to last function should work, but I am still having trouble with it, last function is elusive. I will update the repo with completed functions when I sort them out.)
http://mmarci

[2015-05-18 02:28] #131 closed

[2015-05-18 02:34] tvpham11 commented on #138
Items
Repo: https://github.com/tvpham11/items
GH-pages: http://tvpham11.github.io/items/

[2015-05-18 02:42] chrisbusta commented on #121
https://github.com/chrisbusta/assignment7

[2015-05-18 02:55] tvpham11 commented on #138
Exercises
Repo: https://github.com/tvpham11/exercises
GH-pages: http://tvpham11.github.io/exercises/

[2015-05-18 02:55] #138 closed

[2015-05-18 03:00] leslienw commented on #109
Did not want to merge Sass branch with Master yet as my surfandpaddle still needs work.

[2015-05-18 03:34] leslienw commented on #128
I do not understand this material. Had me stumped all night.

https://github.com/leslienw/Items

[2015-05-18 04:19] kishanbhakta commented on #126
Items.js Assignment
http://kishanbhakta.github.io/Assignment07items/
https://github.com/kishanbhakta/Assignment07items/blob/master/main.js

Assignment07 Exercises
https://github.com/kishanbhakta/Assignment07exercises/blob/master/main.js

[2015-05-18 04:19] #126 closed

[2015-05-18 04:57] mjhewett commented on #130
https://github.com/mjhewett/javercise

http://mjhewett.github.io/javercise/

[2015-05-18 04:58] mjhewett commented on #130
I'm stumped on the last two. I have a vague idea of what to do, but I couldn't figure them out. Will try again tomorrow during lab time.

[2015-05-18 11:24] JamieUdaho commented on #124
Part 1 Repo: https://github.com/JamieUdaho/assignment7
Part 1 GH Pages: http://jamieudaho.github.io/assignment7/
Part 2 Repo: https://github.com/JamieUdaho/assignment7part2
Part 2 GH Pages: http://jamieudaho.github.io/assignment7part2/

[2015-05-18 11:24] #124 closed

[2015-05-18 11:32] TRPMorrison commented on #137
PARSING ARRAYS:  https://github.com/TRPMorrison/Etsy-Data-Parsing

EXERCISES:  https://github.com/TRPMorrison/JS-Exercises

[2015-05-18 12:02] psamp commented on #134
Etsy Data Parsing repo: https://github.com/psamp/Etsy-Data-Parsing
gh-pages: http://psamp.github.io/Etsy-Data-Parsing/

[2015-05-18 12:47] robertfine4631 commented on #135
http://robertfine4631.github.io/Assignment7/

sorry, my internet was messed up so i had to push it up from here

[2015-05-18 12:55] MeadeSlocomb commented on #129
Oops, forgot the links to the actual repos.

Etsy

https://github.com/tiy-atl-js-q2-2015/Assignments/tree/master/Assignment%2007%20*

JS Exercises

https://github.com/MeadeSlocomb/Assignment7Exercises

[2015-05-18 12:55] #129 closed

[2015-05-18 13:11] krose422 commented on #127
Sorry, I forgot to close this last night!

[2015-05-18 13:11] #127 closed

[2015-05-18 14:49] robertfine4631 commented on #135
https://github.com/robertfine4631/new-assignment

i had A LOT of help from the internet.... and I do not fully understand this at all

[2015-05-18 17:00] twhitacre opened #140 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #141 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #142 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #143 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #144 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #145 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #146 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #147 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #148 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #149 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #150 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #151 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #152 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #153 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #154 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #155 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #156 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #157 "Assignment 8"

[2015-05-18 17:00] twhitacre opened #158 "Assignment 8"

[2015-05-18 19:00] tvpham11 commented on #157
Normal mode
Repo: https://github.com/tvpham11/clock-normal
GH-pages: http://tvpham11.github.io/clock-normal/

[2015-05-18 19:58] krose422 commented on #146
Repo: https://github.com/krose422/Assignment8
GH-Pages: http://krose422.github.io/Assignment8

[2015-05-18 19:58] #146 closed

[2015-05-18 20:12] mjhewett commented on #149
repo   https://github.com/mjhewett/clocks

live site   http://mjhewett.github.io/clocks/

[2015-05-18 20:21] mjhewett commented on #149
^^^^ these are for part one of the assigment

[2015-05-18 20:23] JamieUdaho commented on #143
https://github.com/JamieUdaho/assignment8

http://jamieudaho.github.io/assignment8/

[2015-05-18 20:23] #143 closed

[2015-05-18 21:01] kishanbhakta commented on #145
Clock Assignment (EasyMode)
http://kishanbhakta.github.io/Assignment08_clock/

[2015-05-18 21:01] #145 closed

[2015-05-18 21:47] twhitacre commented on #102
@chrisbusta Can you take a look at this. I don't see any files in the link above. They all seem to be empty.

[2015-05-18 21:54] jjoyave1 commented on #144
https://github.com/jjoyave1/Clock-project

http://jjoyave1.github.io/Clock-project

[2015-05-18 21:55] twhitacre commented on #104
:+1: Looks good.

Take a look [here](https://github.com/jaleach/Function-practice/blob/master/functions.js#L37-L42) you'll want to format this correctly. The JS engine is fairly smart and can still run this, but you'll want to format it like follows:

[code]

[2015-05-18 22:01] twhitacre commented on #105
:+1: Looks great. Functions look great and I even like how you made sure the `sum()` paramaters were cast to a Number before adding them together.

It looks like you still have 4 space (tabs) in your SCSS file. I'd suggest changing it to just 2 spaces instead as that is a more common practice.

[2015-05-18 22:18] twhitacre commented on #106
:+1: SASS & Functions look good.

Take a look [here](https://github.com/jjoyave1/JS-Problems-1/blob/master/functions.js#L28-L29) - since the parameters being passed in are set, there is no need to reset new variables. It looks like you did this for a lot of the exercises. They will all work, just have extra steps in them.

For instance, that one can be rewritten as:

[code]

[2015-05-18 22:22] tvpham11 commented on #119
Tim, I am working on this again and it seems that when I start nesting my child elements in the parent divs, my layout messes up. When you get a chance to look at what I did from last week, can you give me some pointers about how I am doing things wrong?

[2015-05-18 22:22] twhitacre commented on #107
The functions.js look good. Note, [here](https://github.com/kishanbhakta/Functions_Day8_ASS/blob/master/functions.js#L27-L32) that you'll want to keep those functions a little more concise. For instance like:

[code]

Also, I didn't see a link to the SASS branch and couldn't find one when I went looking. Can you post that here when you get a chance?

[2015-05-18 23:13] combs-justin-m commented on #141
Clock Repo: https://github.com/combs-justin-m/Color-Clock
Clock GH: http://combs-justin-m.github.io/Color-Clock/

[2015-05-18 23:13] #141 closed

[2015-05-18 23:15] tvpham11 commented on #157
Hard mode
Repo: https://github.com/tvpham11/clock-hard
GH-pages: http://tvpham11.github.io/clock-hard

[2015-05-18 23:45] #157 closed

[2015-05-19 00:50] mmarcinek commented on #150
https://github.com/mmarcinek/clock/tree/master (repo for hex color-clock)
http://mmarcinek.github.io/clock/ (gh-pages for hex color-clock)
https://github.com/mmarcinek/clock/tree/clock (branch with regular clock display);

[2015-05-19 00:50] #150 closed

[2015-05-19 01:15] chrisbusta commented on #140
https://github.com/chrisbusta/clock
http://chrisbusta.github.io/clock/
https://github.com/chrisbusta/clock/tree/gh-pages

[2015-05-19 01:15] #140 closed

[2015-05-19 01:30] chrisbusta commented on #102
https://github.com/chrisbusta/functionjs/tree/gh-pages
https://github.com/chrisbusta/functionjs

[2015-05-19 02:22] jaleach commented on #142
http://jaleach.github.io/Assignment-8
https://github.com/jaleach/Assignment-8

[2015-05-19 02:22] #142 closed

[2015-05-19 02:37] psamp commented on #153
Normal repo: https://github.com/psamp/Hexadecimal-Color-Clock_Normal
Normal gh-pages: http://psamp.github.io/Hexadecimal-Color-Clock_Normal/

[2015-05-19 03:23] robertfine4631 commented on #154
http://robertfine4631.github.io/clock/

[2015-05-19 03:23] #154 closed

[2015-05-19 03:35] hdannyyi commented on #101
https://github.com/hdannyyi/assignment-5

[2015-05-19 03:36] jaleach commented on #26
http://jaleach.github.io/Assn2
https://github.com/jaleach/Assn2/tree/gh-pages

Reworked the icons.

[2015-05-19 03:36] #26 closed

[2015-05-19 03:57] nickleach commented on #151
Repo- https://github.com/nickleach/Color-Clock
GH- http://nickleach.github.io/Color-Clock/

[2015-05-19 03:57] #151 closed

[2015-05-19 04:43] jjoyave1 commented on #144
https://github.com/jjoyave1/clock-project-hm

http://jjoyave1.github.io/clock-project-hm

took a crack at the hardmode, will be fun to fidget with

[2015-05-19 04:57] mjhewett commented on #149
https://github.com/mjhewett/clocksp2

Here is what I have for the second half of the assignment. For the life of me, I cannot get that background to change color.

[2015-05-19 04:57] #149 closed

[2015-05-19 10:57] leslienw commented on #147
Repository - https://github.com/leslienw/assignment08
Gh- Pages - http://leslienw.github.io/assignment08

I'm working on the background color and font.

[2015-05-19 10:57] #147 closed

[2015-05-19 12:00] MeadeSlocomb commented on #148
http://meadeslocomb.github.io/HexColorClock/

https://github.com/MeadeSlocomb/HexColorClock

[2015-05-19 12:00] #148 closed

[2015-05-19 12:36] #153 closed

[2015-05-19 13:12] theatrekid09 commented on #155
https://github.com/theatrekid09/DisplayClock

 http://theatrekid09.github.io/DisplayClock.

[2015-05-19 13:12] #155 closed

[2015-05-19 13:43] jisaacks commented on #157
Vi, your hard mode looks great :+1: . There are some problems in your normal mode though.

You set your variables outside your `currentTime` function, so every time it runs, they never get updated so the screen never changes.

Also because you created your `timer` variable inside the `currentTime` function, it is out of scope and cannot be accessed by your `stopCurrentTime` function.

However, you

[2015-05-19 13:45] jisaacks commented on #154
Great job!

[2015-05-19 13:47] jisaacks commented on #155
Awesome job! :+1:

Something you could do to make this more accurate, is make sure numbers like `9` get a zero in front of them so they look like `09`.

Also don't forget to put a README in your repo.

[2015-05-19 13:51] tvpham11 commented on #157
I knew I messed something up with the normal mode, especially when I started playing around with it by adding the switch button. Thanks for the feedback, JD!

[2015-05-19 13:56] jisaacks commented on #153
It looks great @psamp. Love the design.

You don't actually need to put the setTimeout inside of your `normalTime` function because you are already passing the function to a setInterval, however you did not give the setInterval an interval to run at.

[2015-05-19 14:05] jisaacks commented on #151
Great work overall :+1:

There are couple tricky parts that you got a little messed up.

On this [line](https://github.com/nickleach/Color-Clock/blob/master/main.js#L37), the interval you set gets ignored because your [function](https://github.com/nickleach/Color-Clock/blob/master/main.js#L22) does nothing with it.

Also in your [event listeners](colorButton.addEventListener('click', colorChange,

[2015-05-19 14:11] jisaacks commented on #149
Great work!!

I ran your code, color is changing, it is probably just changing so subtly you aren't noticing.

[2015-05-19 14:14] jisaacks commented on #150
Looks great, I do not see any hexadecimal values though.

[2015-05-19 14:16] jisaacks commented on #148
Looks great!

[2015-05-19 14:21] jisaacks commented on #147
@leslienw What you have so far looks great!! However, please work on your code formatting.

Your function:
[code]

Could be made so much easier to read by indenting and removing the extra lines:

[code]

Don't you agree?

[2015-05-19 14:22] jisaacks commented on #146
Awesome work!! :+1:

[2015-05-19 14:25] jisaacks commented on #145
Looks great!

[2015-05-19 14:27] jisaacks commented on #144
Awesome work!!

[2015-05-19 14:27] #144 closed

[2015-05-19 14:54] nickleach commented on #151
Thanks JD that really helped.

On Tue, May 19, 2015 at 10:05 AM, JD Isaacks <notifications@github.com>
wrote:

[2015-05-19 15:03] jisaacks commented on #143
Looks great, the button does not do anything but that was not a requirement for the assignment anyways. Code looks great tho, good job! :+1:

[2015-05-19 15:06] jisaacks commented on #141
Looks good! :+1:

[2015-05-19 15:07] jisaacks commented on #142
Looks good!

[2015-05-19 15:09] JamieUdaho commented on #105
Thanks Tim! I thought I changed all of my sublime to default to 2 spaces. Can you show me again how to do that?

[2015-05-19 15:11] jisaacks commented on #140
Looks good! :+1:

Something you could do to take it further is add the zeros to numbers less than 10 so that `11:9:5` would become `11:09:05`

[2015-05-19 15:45] leslienw commented on #147
Yes thanks!

[2015-05-19 15:47] theatrekid09 commented on #155
okay thanks

[2015-05-19 16:53] twhitacre opened #159 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #160 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #161 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #162 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #163 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #164 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #165 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #166 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #167 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #168 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #169 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #170 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #171 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #172 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #173 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #174 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #175 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #176 "Assignment 9"

[2015-05-19 16:53] twhitacre opened #177 "Assignment 9"

[2015-05-19 19:00] combs-justin-m commented on #160
Accordion GH: http://combs-justin-m.github.io/Accordion/
Accordion Repo: https://github.com/combs-justin-m/Accordion/tree/wip

[2015-05-19 19:00] #160 closed

[2015-05-19 19:02] jjoyave1 commented on #163
repo:
https://github.com/jjoyave1/accordion-project

link:
http://jjoyave1.github.io/accordion-project

[2015-05-19 19:14] krose422 commented on #165
http://krose422.github.io/Assignment9/

[2015-05-19 19:14] #165 closed

[2015-05-19 19:21] JamieUdaho commented on #162
http://jamieudaho.github.io/assignment9/

[2015-05-19 19:21] #162 closed

[2015-05-19 19:31] mjhewett commented on #168
repo https://github.com/mjhewett/assignment9

live site http://mjhewett.github.io/assignment9/

[2015-05-19 19:31] #168 closed

[2015-05-19 20:42] tvpham11 commented on #176
Accordion:
Repo: https://github.com/tvpham11/Accordion
GH-pages: http://tvpham11.github.io/Accordion/

[2015-05-19 20:47] kishanbhakta commented on #164
http://kishanbhakta.github.io/Assignment09/

[2015-05-19 20:47] #164 closed

[2015-05-19 20:56] TRPMorrison commented on #61
Overlay, responsive missing, small tweaks need to be made:

GH-PAGES:  http://trpmorrison.github.io/Surf/
NEW REPO:  https://github.com/TRPMorrison/Surf
OLD REPO: https://github.com/TRPMorrison/Surf_Paddle

[2015-05-19 20:56] #61 closed

[2015-05-19 21:11] nickleach commented on #170
GH- http://nickleach.github.io/jQuery-accordion/
Repo- https://github.com/nickleach/jQuery-accordion

[2015-05-19 21:11] #170 closed

[2015-05-19 21:17] jaleach commented on #161
http://jaleach.github.io/Accordian9
https://github.com/jaleach/Accordian9

[2015-05-19 21:17] #161 closed

[2015-05-20 00:51] robertfine4631 commented on #173
http://robertfine4631.github.io/BreakingBadAccordion/

-found a great online tutorial on the pseudo elements

[2015-05-20 00:51] #173 closed

[2015-05-20 01:52] mmarcinek commented on #169
http://mmarcinek.github.io/accordion/ (gh-pages deploy)
https://github.com/mmarcinek/accordion (full repo)

[2015-05-20 01:52] #169 closed

[2015-05-20 02:05] tvpham11 commented on #176
For loops: https://github.com/tvpham11/for-loops

[2015-05-20 02:05] #176 closed

[2015-05-20 03:59] chrisbusta commented on #159
repo: https://github.com/chrisbusta/accordion
gh-pages: http://chrisbusta.github.io/accordion/
Couldn't get the accordion to work.

[2015-05-20 05:16] MeadeSlocomb commented on #167
http://meadeslocomb.github.io/Accordian/

https://github.com/MeadeSlocomb/Accordian/tree/gh-pages

Reconstructing array methods:
https://github.com/MeadeSlocomb/JSArrayMethods

[2015-05-20 05:16] #167 closed

[2015-05-20 11:19] leslienw commented on #166
Gh-Pages - http://leslienw.github.io/accordian/

Working on it

[2015-05-20 12:05] TRPMorrison commented on #175
https://github.com/TRPMorrison/Accordian

http://trpmorrison.github.io/Accordian

[2015-05-20 13:13] TRPMorrison commented on #156
https://github.com/TRPMorrison/Etsy-Data-Parsing

http://trpmorrison.github.io/Etsy-Data-Parsing/

[2015-05-20 13:16] psamp commented on #172
gh-pages: http://psamp.github.io/jQuery-Accordion-Menu/
repo: https://github.com/psamp/jQuery-Accordion-Menu

[2015-05-20 13:55] jjoyave1 commented on #163
https://github.com/jjoyave1/js-array-rebuild

tried my hand at the for loop rebuilds

[2015-05-20 13:55] #163 closed

[2015-05-20 16:45] twhitacre opened #178 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #179 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #180 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #181 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #182 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #183 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #184 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #185 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #186 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #187 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #188 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #189 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #190 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #191 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #192 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #193 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #194 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #195 "Assignment 10"

[2015-05-20 16:45] twhitacre opened #196 "Assignment 10"

[2015-05-20 18:55] twhitacre commented on #109
@leslienw the functions looks pretty good. You've got quite a few right, but some of them need to be finished up.

Also, look [here](https://github.com/leslienw/functions.js/blob/master/functions.js#L31), you are taking an argument that is a "string" but you have a string literal in there. This will make it unusable in the future.

Also, comment with a link to your sass branch when you get it.

[2015-05-20 19:04] twhitacre commented on #102
Your functions are looking pretty good. I see a few issues though,

- [Here](https://github.com/chrisbusta/functionjs/blob/master/function.js#L46) you are passing in a string literal as a paramater, which means it can never be dynamic.
- [Here](https://github.com/chrisbusta/functionjs/blob/master/function.js#L63) you used `other` instead of `else` which won't work in JavaScript
- [Here](https://gi

[2015-05-20 19:06] twhitacre commented on #110
:+1: Great work!

Look [here](https://github.com/MeadeSlocomb/Assignment6/blob/master/functions.js#L61), it won't _usually_ hurt anything, but you usually don't want to wrap things in parenthesis.

[2015-05-20 19:09] twhitacre commented on #108
:+1: Looks great.

Great use of mixins and variables in your SASS homework.

Functions look really great. [Here](https://github.com/krose422/Assignment6/blob/master/functions.js#L73) you forgot your ending semicolon, but the rest look great.

[2015-05-20 19:12] twhitacre commented on #112
:+1: Looks good.

Let me know if you still need help with your `gh-pages` branch

Also, I love the madlib.

[2015-05-20 19:15] twhitacre commented on #111
:+1: Looks great! SASS and functions both.

Note, [here](https://github.com/mjhewett/jav-hw/blob/master/main.js#L28-L29) that you don't always have to set up a variable then return something, you can actually return an expression like:

[code]

[2015-05-20 19:20] twhitacre commented on #113
:+1: Looks good.

Let me know if you need help with the merge conflicts, but the code looks good to me.

You'll want to clean up your `gh-pages` branch, so you have a nice portfolio piece.

Also, note [here](https://github.com/nickleach/js-functions/blob/master/functions.js#L90) that you don't need to return the code in the parenthesis. Otherwise looks good.

[2015-05-20 19:24] twhitacre commented on #115
@psamp Your SASS looks good, but you'll want to take another stab at the functions.

In many of them, you are setting the variables locally inside of the functions which will make them not be dynamic. Meaning when I call `sum(5, 5)` I won't get back `10` but instead I'll get back `120` based on how you currently have it.

[2015-05-20 19:27] twhitacre commented on #118
@TRPMorrison - take a look at [this one](https://github.com/TRPMorrison/FunctionsJS/blob/master/main.js#L45-L48) it looks like you are calling a `string` method which doesn't' exist, so that is failing.

Also, I think you are over thinking your madlib function quite a bit. You don't need to ask for prompts, just build the function that will add those strings together.

Let me know if you need help

[2015-05-20 19:37] twhitacre commented on #119
:+1: Your Functions look great. Nice work!

As far as your SASS goes, I ran it and it all looks valid. Also, after a quick overview your nesting looks pretty good. We can go over this tomorrow in your 1-1 though if that helps, or grab me anytime and we can see why it seems to be breaking things.

[2015-05-20 19:38] twhitacre commented on #121
@chrisbusta Can you push up a deployed version of this?

[2015-05-20 20:16] chrisbusta commented on #102
https://github.com/chrisbusta/surf-and-paddle/tree/gh-pages
http://chrisbusta.github.io/surf-and-paddle/

[2015-05-20 20:16] #102 closed

[2015-05-20 20:57] leslienw commented on #109
Repository - https://github.com/leslienw/surfandpaddle

[2015-05-20 20:58] twhitacre commented on #122
:+1: Great work. Exercise look good. Your syntax is really good.

Also, great work and style updates to the Etsy Data Parsing part.

[2015-05-20 23:35] mmarcinek commented on #112
Thanks Tim,

I think we sorted out my gh-pages issue and things have been fine ever
since. How does my code formatting look(I know you mentioned before that it
looks like my tabs were still set to 4 instead of 2 spaces)?

Thanks again,
m

On Wed, May 20, 2015 at 3:12 PM, Tim Whitacre <notifications@github.com>
wrote:

[2015-05-21 02:58] theatrekid09 commented on #117
Part 1:https://github.com/theatrekid09/Assignment6/blob/master/function.js

Part 2: https://github.com/theatrekid09/Final-Surf-and-Paddle
http://theatrekid09.github.io/Final-Surf-and-Paddle

[2015-05-21 05:05] theatrekid09 commented on #136
https://github.com/theatrekid09/7/blob/master/main.js  - I don't understand Assignment 7 I just have answers in my notebook from class but I don't understand them So I would like to talk about this homework assignment, hopefully before the weekend is out if I can

[2015-05-21 13:40] jisaacks commented on #176
Your accordion looks great Vi! Your functions look good too. However your `reduce` function does not mimic the functionality of the actual __reduce__ method, yours just sums an array.

[2015-05-21 13:43] jisaacks commented on #175
@TRPMorrison your code is not running because you have an error. It looks like you have an extra `}` between your `if` and `else`.

[2015-05-21 13:44] tvpham11 commented on #176
Thanks for the feedback, JD. I'll look over reduce again.

[2015-05-21 13:48] jisaacks commented on #173
Your accordion looks great. Cool that you used the pseudo target for assigning the classes and achieved this wirthout any `js

[2015-05-21 13:58] jisaacks commented on #170
Looks good. You could have cleaned up your sass a little bit by grouping your `h3` selectors together. Looks good though! :)

[2015-05-21 14:06] jisaacks commented on #172
@psamp when I look at your accordion, they are all always showing.

[2015-05-21 14:09] jisaacks commented on #168
Your accordion looks great!

[2015-05-21 14:11] jisaacks commented on #169
This looks great! Good job :+1:

[2015-05-21 14:20] jisaacks commented on #167
Fantastic work!!

Awesome job on knocking out those array methods, especially the tricky reduce. I will give you a hint on how you could have cleaned it up a little bit:

[code]

You could add 1 to both `i=0` and `array.length - 1` so that is becomes `i=1` and `array.length` and then you would not need to always add the 1 in the loop body like so:

[code]

[2015-05-21 14:23] jisaacks commented on #164
looks great! :+1:

[2015-05-21 14:25] psamp commented on #172
I updated the pages! I got the code working a couple hours ago, but I've had git merge errors I just got to clear up.

[2015-05-21 14:25] #172 closed

[2015-05-21 14:31] jisaacks commented on #165
Looks great! :+1:

[2015-05-21 14:34] jisaacks commented on #163
@jjoyave1 great work :+1: . However, did you notice that your transition only happens on show and not on hide? This is because your transition is on the `.sec` class and when you hide you are removing that class, so you are removing the transition as well.

[2015-05-21 14:37] jisaacks commented on #162
Looks great! :+1:

[2015-05-21 14:38] jisaacks commented on #161
Great job! :+1:

[2015-05-21 14:53] psamp commented on #115
Updated all functions.

[2015-05-21 14:53] #115 closed

[2015-05-21 14:56] #109 closed

[2015-05-21 15:08] MeadeSlocomb commented on #167
Ahhh, that makes sense.  On my first few attempts I was trying really dumb things like nesting if statements within for loops within for loops, so by the time I got to this version I was happy to have it working at all.

Thanks for the feedback!

[2015-05-21 15:23] jisaacks commented on #138
@tvpham11 great work!!

Your code looks great. It is a good practice to try to keep your lines of code short enough that they do not require scrolling horizontally is possible. For example, the following code block:

[code]

Could be refactored to:

[code]

-----

In your exercises:

Your max ox 3 function does not always work. For example `maxOfThree(5,9,4)` returns `5` this is because:

[code]

[2015-05-21 17:23] twhitacre commented on #44
@chrisbusta - Can you do some more work on this to get the elements lined up like the mockup.

[2015-05-21 17:45] twhitacre commented on #123
@jaleach The Etsy data parsing looks great!

I noticed you have some malformed functions in your exercises though. Check [here](https://github.com/jaleach/Assgnexercise7/blob/master/exercises.js#L7-L10) for example. You are returning back the string of `"x"` instead of the value of it. There are a few others as well, so take a look at those when you get a chance. Let me know if you have any questi

[2015-05-21 17:53] twhitacre commented on #124
:+1: Great work!

The etsy work looks awesome. Very easy to read through.

The exercies are great as well. There are a few things to point out though.

- [Here](https://github.com/JamieUdaho/assignment7part2/blob/master/exercises.js#L60) : you probably want to return the value instead of log it out.
- [Here](https://github.com/JamieUdaho/assignment7part2/blob/master/exercises.js#L5-L32) : in these

[2015-05-21 17:57] twhitacre commented on #125
:+1: Great work. The etsy homework looks great.

Your functions are great as well. There are a few things to look at though...

- [Here](https://github.com/jjoyave1/JS-Problems2/blob/master/exercises.js#L33-L40) : You are actually only checking the word and not looking to see if a vowel is actually contained in the word. Take another try at this one and let me know if you need any help.
- [Here](h

[2015-05-22 16:44] twhitacre commented on #50
@kishanbhakta any update on this?

[2015-05-22 17:04] twhitacre commented on #126
:+1: Great work.

Your etsy work is great and nice job on the exerciees.

One thing to note about your JS, do you best to stick to a consistent format.

See [here](https://github.com/kishanbhakta/Assignment07exercises/blob/master/main.js#L39-L42) you are wrapping the `{ }` around the `if` but not around the `else`. Also [make sure](https://github.com/kishanbhakta/Assignment07exercises/blob/master/

[2015-05-22 17:19] twhitacre commented on #127
So, um... WOW. Nice work on putting together the HTML example to run those exercises. Very impressed.

Also, great work on the etsy assignment as well. Your code is very tight and well documented.

A couple things to point out though:

- [Here](https://github.com/krose422/Assignment7Exercises/blob/master/exercises.js#L11-L12) - since the numbers being passed in are set to those paramaters, there i

[2015-05-22 17:22] twhitacre commented on #52
@leslienw you are almost there! The only thing that really needs to be fixed up is the footer and the hover effects.

I'm going to re-open this for now, but let me know if you need any help with this.

[2015-05-22 17:32] twhitacre commented on #129
:+1: Great work. Looks really good.

Your code is getting tighter and better. Here are a coulpe things that will help in the long run:

- [Here](https://github.com/MeadeSlocomb/Assignment7Exercises/blob/master/exercises.js#L34) - Rather than plan for both upper and lower, you can take the string given and change it to lower case - [see here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/

[2015-05-22 17:34] twhitacre commented on #54
:+1: Looks good! Great work!

[2015-05-22 17:49] twhitacre commented on #130
:+1: on the etsy work.

Good work on the exercises. I'm going to open this back up so you can finish the last two. Let me know if you need any help with them.

[2015-05-22 19:39] chrisbusta commented on #121
https://github.com/chrisbusta/assignment7/tree/gh-pages

[2015-05-22 19:41] chrisbusta commented on #44
https://github.com/chrisbusta/surf-and-paddle/tree/gh-pages

[2015-05-22 19:42] chrisbusta commented on #44
http://chrisbusta.github.io/surf-and-paddle/

[2015-05-22 23:34] hdannyyi commented on #158
http://hdannyyi.github.io/assignment-8/

[2015-05-25 15:18] nickleach commented on #189
Normal Mode:
Repo - https://github.com/nickleach/Etsy-Project
GH-Page - http://nickleach.github.io/Etsy-Project/

[2015-05-25 15:18] #189 closed

[2015-05-25 19:42] krose422 commented on #184
Normal mode Assignment 10
Repo: https://github.com/krose422/Assignment10
Deployed version: http://krose422.github.io/Assignment10

[2015-05-25 19:42] #184 closed

[2015-05-25 20:21] twhitacre commented on #131
:+1: Looks good on both parts!

Take a look [here](https://github.com/mmarcinek/Functions_07/blob/master/main.js#L18-L22) at how the `if` and `else` is structured. Try and break them up line by line which will make them easier for you and others to read. You did well on the rest of them.

Keep up the good work!

[2015-05-25 20:31] twhitacre commented on #132
:+1:  Great work on both!

Nice [solution here](https://github.com/nickleach/JavaScript-Exercises/blob/master/exercises.js#L18-L22)

Your syntax is looking really good. A few places where you can structure your statements a little better.  Like [here](https://github.com/nickleach/JavaScript-Exercises/blob/master/exercises.js#L47-L51) I would make it a little more readable by breaking up the statem

[2015-05-25 20:33] twhitacre commented on #134
@psamp Looks like you still have some of the etsy questions to answer.

Also, can you post a link to the JS exercises?

[2015-05-25 20:36] twhitacre commented on #135
@robertfine4631 Looks like the etsy assignment has some errors on it.

Also, there are still quite a few of the exercises you need to finish. Let me know if you need any help on those.

[2015-05-25 20:37] twhitacre commented on #136
@theatrekid09 Ok, let's set up a time to go over them.

[2015-05-25 20:39] twhitacre commented on #137
@TRPMorrison it looks like you are missing a few of the etsy answers as well as the exercises.

Let me or Mike know if you need help going over these.

[2015-05-25 20:41] twhitacre commented on #121
@chrisbusta The `gh-pages` branch is there, but it doesn't seem to be working.

Let me know if you need help with this.

[2015-05-25 20:53] twhitacre commented on #115
:+1: Great work

[2015-05-25 20:59] twhitacre commented on #60
@theatrekid09 Almost there.

Let me, JD or Mike know if you need any help wrapping this up!

[2015-05-25 21:00] twhitacre commented on #40
:+1: Much better!

[2015-05-25 21:03] twhitacre commented on #117
Take a look [here](https://github.com/theatrekid09/Assignment6/blob/master/function.js#L57-L62) that you will want to use the `return` keyword instead of `console.log()`. Also [here](https://github.com/theatrekid09/Assignment6/blob/master/function.js#L76), you are re-assigning the value of the parameter so it because an un-usable function.

Also, take a look [here](https://github.com/theatrekid09/

[2015-05-25 21:09] twhitacre commented on #61
@TRPMorrison I'm going to mark this closed, but when you get a chance you need to update the footer and get those hover effects in place.

[2015-05-25 21:10] twhitacre commented on #156
Assignment 8 is for the clock. I think you might have gotten them confused.

[2015-05-25 21:21] twhitacre commented on #44
@chrisbusta I updated your progress report to be a better score since you have so much of it done.

I am going to re-open it though so you can finish cleaning up the footer and areas you have left.

Let me know if I can help with anything.

[2015-05-25 22:49] mmarcinek commented on #131
Thanks Tim!

I fixed the formatting on the if and else function, so that the lines are
broken up and spaced evenly, like this:

​

On Mon, May 25, 2015 at 4:21 PM, Tim Whitacre <notifications@github.com>
wrote:

[2015-05-25 22:57] jaleach commented on #180
http://jaleach.github.io/Etsy
https://github.com/jaleach/Etsy

[2015-05-25 22:57] #180 closed

[2015-05-26 01:12] JamieUdaho commented on #181
https://github.com/JamieUdaho/assignment10
http://jamieudaho.github.io/assignment10/

I was signed into my Etsy account when I started so my nav in my header shows the icons for when you are logged in. Also, after several hours of trying, I could not figure out how to get the hover images to show up on my main images. If you could look at my scss and let me know what I was doing wrong, I would app

[2015-05-26 01:12] #181 closed

[2015-05-26 01:56] jjoyave1 commented on #182
https://github.com/jjoyave1/etsy-page-rebuild

link: http://jjoyave1.github.io/etsy-page-rebuild

[2015-05-26 01:58] mmarcinek commented on #188
http://mmarcinek.github.io/mikesy/ (link to gh-pages)
https://github.com/mmarcinek/mikesy (repo)

Complete normal mode, plus can swap in different API data to populate the sidebar category list and listing info. Will be helpful for future nightmare mode implementation.

[2015-05-26 01:58] #188 closed

[2015-05-26 02:24] combs-justin-m commented on #179
Etsy GH: http://combs-justin-m.github.io/Etsy-Page/
Etsy Repo: https://github.com/combs-justin-m/Etsy-Page

[2015-05-26 02:24] #179 closed

[2015-05-26 02:53] tvpham11 commented on #195
https://github.com/tvpham11/etsy-mockup

Incomplete. Need help with CSS/SASS.

[2015-05-26 04:59] kishanbhakta commented on #183
http://kishanbhakta.github.io/Assignment10/

I want to add the material to the side using Javascript. I understand the assignment will be late, but I want to learn how this is done.

[2015-05-26 11:22] chrisbusta commented on #178
http://chrisbusta.github.io/etsy/
https://github.com/chrisbusta/etsy/tree/gh-pages

[2015-05-26 11:25] mjhewett commented on #187
for some reason, when I open the link, my JS is not work working. I will fix this this today during lab time. Admittedly not my best work.

https://github.com/mjhewett/etsyproj

http://mjhewett.github.io/etsyproj/

[2015-05-26 11:32] MeadeSlocomb commented on #186
http://meadeslocomb.github.io/EtsySearch/

https://github.com/MeadeSlocomb/EtsySearch

Still several nit-picky issues to address such as adding CSS triangles in a few places, correcting some minor spacing issues and a few link hover inconsistencies.  My HTML/CSS could stand to be more organized as well.

[2015-05-26 11:32] #186 closed

[2015-05-26 12:54] psamp commented on #191
Repo: https://github.com/psamp/EtsySearch_Notebooks
GH-pages: http://psamp.github.io/EtsySearch_Notebooks/

[2015-05-26 12:54] #191 closed

[2015-05-26 13:31] jisaacks commented on #195
Hi Vi! What problem are you having?

[2015-05-26 13:34] tvpham11 commented on #195
Hi JD, I'm struggling immensely with CSS and I cannot really say why... We can talk in person about it.

[2015-05-26 13:42] jisaacks commented on #179
Awesome work!! Looks fantastic! :)

[2015-05-26 13:48] jisaacks commented on #188
Hey Mike, what you have looks great. If you do continue to mess with this, a couple of things you could look at; on my small screen initially all the items were shifted below the sidebar instead of beside it. Also, if the seller name is too long like **LUSCIOUSLEATHERNYC** it causes the price to shift and makes the product taller and causes other products to shift. You could fix that by clipping t

[2015-05-26 13:48] jisaacks commented on #195
Yeah, lets get together this afternoon and see what I can help with. :)

[2015-05-26 13:54] jisaacks commented on #184
Looks great Kelley!

[2015-05-26 14:04] jisaacks commented on #181
Hey Jamie, what you have here looks great.

When you say:

I am not 100% positive I understand what you are referring to. I think you are referring to the hover buttons (heart, menu). I see you have `<i class="hoverButtons"></i>` but it has no content and there are no scss rules styling it in any way.

[2015-05-26 14:10] jisaacks commented on #186
Hey Meade, great job on this. Clever use on the `map` function. However, the stuff you are doing in the `map` could be done within the `forEach`, which would cause you to only have to iterate the list once instead of twice so your code would be faster. Not a big deal though, just an FYI. At this point I am happy to see you experimenting with using the tools in various ways and I am not concerned w

[2015-05-26 14:17] jisaacks commented on #182
Hey @jjoyave1 what you have looks great.

The only issue I would like you to fix is the search button:
<br>
-------
![screen shot 2015-05-26 at 10 15 43 am](https://cloud.githubusercontent.com/assets/1355481/7814438/32c57784-0390-11e5-90cd-1c7eefcbe736.png)
-------
<br>
Can you please fix that and resubmit :)

[2015-05-26 14:23] jisaacks commented on #183
@kishanbhakta what you have so far looks great! :+1:

I understand that you want to learn how to take things further like populating the menus with code and that is great! However, in the future, please work on meeting all the requirement for the assignment before taking the initiative to go even further. If in the real world, it would not go over so well telling a client/boss that the project did

[2015-05-26 14:30] jisaacks commented on #191
Great work @psamp !!! :+1:

[2015-05-26 14:33] psamp commented on #191
Thanks!

[2015-05-26 15:00] jisaacks commented on #187
OK so I figured out what your error is coming from. It was pretty tricky. On line `167` of your `items.js` file you have the word `invoice` 3 times. The first occurrence of it has some non printable chars behind it that are causing the error. This is tricky because you cannot see the char. It appears to be 2 occurances of the `U+2028` (line seperator) character. If you can delete those it should f

[2015-05-26 15:03] jjoyave1 commented on #182
had some trouble with this last night, but I thought I had fixed it.  Try now?

[2015-05-26 15:03] #182 closed

[2015-05-26 15:16] jisaacks commented on #189
Looks great!

[2015-05-26 15:21] jisaacks commented on #180
Great job! :+1:

[2015-05-26 16:20] jisaacks commented on #178
@chrisbusta in your main.css file you have everything commented out. This is causing your entire page to be unstyled. Is there a reason for that?

[2015-05-26 17:04] twhitacre opened #197 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #198 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #199 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #200 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #201 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #202 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #203 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #204 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #205 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #206 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #207 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #208 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #209 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #210 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #211 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #212 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #213 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #214 "Assignment 11"

[2015-05-26 17:04] twhitacre opened #215 "Assignment 11"

[2015-05-26 21:14] robertfine4631 commented on #211
https://github.com/robertfine4631/Bobby-and-Kelley-

[2015-05-26 21:14] #211 closed

[2015-05-26 21:18] krose422 commented on #203
Repo: https://github.com/krose422/Bobby-and-Kelley-

[2015-05-26 21:18] #203 closed

[2015-05-26 21:20] JamieUdaho commented on #200
https://github.com/JamieUdaho/pairprogramming

[2015-05-26 21:20] #200 closed

[2015-05-26 21:22] jjoyave1 commented on #200
https://github.com/JamieUdaho/pairprogramming

mine(https://github.com/jjoyave1/pairprogramming)

[2015-05-26 21:25] mmarcinek commented on #207
https://github.com/mmarcinek/assignment11 (It is still messy, we look forward to cleaning this up and finishing it.)

[2015-05-26 21:25] #207 closed

[2015-05-26 21:25] hdannyyi commented on #215
https://github.com/hdannyyi/assignment11

[2015-05-26 21:25] #215 closed

[2015-05-26 21:25] leslienw commented on #204
Repository - https://github.com/leslienw/assignment11

Not really understanding these. Hoping to wrap my head around this. Mike was really helpful.

[2015-05-26 21:25] #204 closed

[2015-05-26 21:34] nickleach commented on #208
https://github.com/theatrekid09/dynamicduo

[2015-05-26 21:34] #208 closed

[2015-05-26 21:34] tvpham11 commented on #214
https://github.com/tvpham11/assignment-11

[2015-05-26 21:34] #214 closed

[2015-05-26 21:34] mjhewett commented on #206
https://github.com/mjhewett/Assignment11-Collaboration

[2015-05-26 21:34] #206 closed

[2015-05-26 21:34] theatrekid09 commented on #212
repo: https://github.com/theatrekid09/dynamicduo

[2015-05-26 21:34] #212 closed

[2015-05-26 21:35] chrisbusta commented on #197
https://github.com/chrisbusta/assignment-11

[2015-05-26 21:35] #197 closed

[2015-05-26 21:40] kishanbhakta commented on #202
Link for Repo:
https://github.com/kishanbhakta/Assignment11-Collaboration

[2015-05-26 21:40] #202 closed

[2015-05-26 23:21] psamp commented on #210
Repo: https://github.com/TRPMorrison/Pair-Programming

[2015-05-26 23:21] #210 closed

[2015-05-27 00:03] TRPMorrison commented on #213
https://github.com/TRPMorrison/Pair-Programming

[2015-05-27 00:03] #213 closed

[2015-05-27 01:17] combs-justin-m commented on #198
Head repo: https://github.com/jaleach/Assignment-11

[2015-05-27 01:17] #198 closed

[2015-05-27 01:53] TRPMorrison commented on #194
http://trpmorrison.github.io/Etsy/
https://github.com/TRPMorrison/Etsy

Mike and I didn't get to finish figuring out why the main.js didn't populate the data.  For the sake of viewing, I copied and pasted the image links.  We commented out the html where we're going to troubleshoot and have it populate in the  <ul id="item"> section.  I also commented out some styling for the sidebar/aside;

[2015-05-27 02:56] jaleach commented on #199
https://github.com/jaleach/Assignment-11/pull/1

[2015-05-27 02:58] jaleach commented on #199
https://github.com/jaleach/Assignment-11
jaleach/Assignment-11#1

[2015-05-27 02:58] #199 closed

[2015-05-27 13:01] jjoyave1 commented on #201
https://github.com/JamieUdaho/pairprogramming

mine(https://github.com/jjoyave1/pairprogramming)

posted these to Jamie's, my bad for being late on this

[2015-05-27 13:05] MeadeSlocomb commented on #205
Oops!  Forgot to submit and close this on my way out yesterday.

https://github.com/MeadeSlocomb/OatnealSlocum

[2015-05-27 13:05] #205 closed

[2015-05-27 18:01] twhitacre opened #216 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #217 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #218 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #219 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #220 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #221 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #222 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #223 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #224 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #225 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #226 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #227 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #228 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #229 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #230 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #231 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #232 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #233 "Assignment 12"

[2015-05-27 18:01] twhitacre opened #234 "Assignment 12"

[2015-05-28 15:51] chrisbusta commented on #178
My bad. was trying to mess around with css and scss and forgot to uncomment the main.css. I'll try to work on it later today if I have some time.

[2015-05-28 21:28] theatrekid09 commented on #117
Part1: https://github.com/theatrekid09/Assignment6
Revised Function Questions

[2015-05-28 21:28] #117 closed

[2015-05-30 03:40] leslienw commented on #166
Repository - https://github.com/leslienw/accordion
Gh-Pages - http://leslienw.github.io/accordion

I have a long way to go with JS but finally finished with this!

[2015-05-30 03:40] #166 closed

[2015-06-01 20:29] chrisbusta commented on #159
http://chrisbusta.github.io/accordion/

[2015-06-01 20:30] chrisbusta commented on #159
https://github.com/chrisbusta/accordion/tree/gh-pages

[2015-06-01 20:30] #159 closed

[2015-06-01 21:43] krose422 commented on #222
Repo: https://github.com/krose422/Group4Restaurant
gh-pages: will be added in the morning. We want to confirm the Flickr API is working properly before pushing to gh-pages.

[2015-06-01 21:43] #222 closed

[2015-06-01 21:44] psamp commented on #229
Repo: https://github.com/krose422/Group4Restaurant

Note: Will link to gh-pages in the morning once Flickr API is confirmed stable.

[2015-06-01 21:49] mmarcinek commented on #226
https://github.com/krose422/Group4Restaurant (here is the link to our groups repo on Kelley's github profile.)
Currently the Flickr API is stable, but the token has been prone to timing out, I believe that has been fixed, but do not want to push to gh-pages until it is confirmed. We will commit to gh-pages as soon as we have confirmed the resolution.

[2015-06-01 21:49] #226 closed

[2015-06-02 00:40] jaleach commented on #123
https://github.com/jaleach/Assgnexercise7

went through exercises with JSHint

[2015-06-02 00:40] #123 closed

[2015-06-02 02:53] combs-justin-m commented on #217
group1-gh: http://combs-justin-m.github.io/Group-1-Project/
group1-repo: https://github.com/combs-justin-m/Group-1-Project

[2015-06-02 02:53] #217 closed

[2015-06-02 03:41] JamieUdaho commented on #219
main repo:  https://github.com/jjoyave1/assignment-12
jamieDev branch:  https://github.com/jjoyave1/assignment-12/tree/jamieDev

[2015-06-02 03:41] #219 closed

[2015-06-02 03:55] #201 closed

[2015-06-02 03:57] jjoyave1 commented on #220
https://github.com/jjoyave1/assignment-12/tree/master

http://jjoyave1.github.io/assignment-12/

[2015-06-02 04:11] jaleach commented on #218
http://jjoyave1.github.io/assignment-12/

[2015-06-02 04:11] #218 closed

[2015-06-02 04:22] theatrekid09 commented on #231
http://jjoyave1.github.io/assignment-12/

[2015-06-02 04:22] #231 closed

[2015-06-02 04:59] MeadeSlocomb commented on #224
https://github.com/nickleach/Restaurant

Will be deploying to gh-pages in the morning.

[2015-06-02 10:54] nickleach commented on #227
Group 5:
Repo- https://github.com/nickleach/Restaurant
GH Page - http://nickleach.github.io/Restaurant/

[2015-06-02 10:54] #227 closed

[2015-06-02 12:49] krose422 commented on #222
gh-pages added: http://krose422.github.io/Group4Restaurant
repo: https://github.com/krose422/Group4Restaurant

[2015-06-02 12:50] mmarcinek commented on #226
http://krose422.github.io/Group4Restaurant/ (gh-pages deploy)

[2015-06-02 12:54] tvpham11 commented on #233
Ahhh, I forgot to post this link before 8.

http://combs-justin-m.github.io/Group-1-Project/

[2015-06-02 12:54] #233 closed

[2015-06-02 13:00] tvpham11 commented on #233
Here is our group's repo: https://github.com/combs-justin-m/Group-1-Project

[2015-06-02 13:05] MeadeSlocomb commented on #224
gh pages: http://nickleach.github.io/Restaurant/

[2015-06-02 13:05] #224 closed

[2015-06-02 13:15] psamp commented on #229
gh-pages: http://krose422.github.io/Group4Restaurant/

[2015-06-02 13:15] #229 closed

[2015-06-02 13:34] oatneal17 commented on #228
repo: https://github.com/oatneal17/Group4Restaurant

gh-pages: http://krose422.github.io/Group4Restaurant/

[2015-06-02 13:34] #228 closed

[2015-06-02 15:28] twhitacre commented on #158
@hdannyyi - it looks like your styles are not loading. Can you take a look at it and let me know if you need any help.

[2015-06-02 15:29] twhitacre commented on #159
:+1: Great work.

If you have some time, I would spend a bit more on the design/style of it. It will help it stand out as a portfolio piece.

[2015-06-02 15:29] twhitacre commented on #101
@hdannyyi Can you provide a deployed link to this?

[2015-06-02 15:31] twhitacre commented on #160
:+1:

Very nice and clean. The design is spot on as well.

[2015-06-02 15:33] twhitacre commented on #166
:+1: Great work. The code is nice and small and cleaned up very nicely. Like the design.

[2015-06-02 17:10] twhitacre opened #235 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #236 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #237 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #238 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #239 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #240 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #241 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #242 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #243 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #244 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #245 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #246 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #247 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #248 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #249 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #250 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #251 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #252 "Assignment 13"

[2015-06-02 17:10] twhitacre opened #253 "Assignment 13"

[2015-06-02 18:48] oatneal17 commented on #171
gh-pages: http://oatneal17.github.io/jquery_accordion/

repo: https://github.com/oatneal17/jquery_accordion

[2015-06-02 18:48] #171 closed

[2015-06-02 19:42] #216 closed

[2015-06-02 19:42] #220 closed

[2015-06-02 19:42] #221 closed

[2015-06-02 19:42] #223 closed

[2015-06-02 19:42] #225 closed

[2015-06-02 19:42] #230 closed

[2015-06-02 19:42] #232 closed

[2015-06-02 19:42] #234 closed

[2015-06-02 19:43] twhitacre commented on #171
:+1: Looks good!

[2015-06-02 20:49] twhitacre commented on #194
@TRPMorrison - you are almost there. Let me know if I can help you with any of it!

[2015-06-02 20:51] #209 closed

[2015-06-02 20:52] twhitacre commented on #26
:+1: Much better! Thanks for tightening those up!

[2015-06-02 20:52] twhitacre commented on #69
:+1:

[2015-06-02 20:54] twhitacre commented on #102
@chrisbusta - Since the functions are done and you are still working on `Assignment 3`, I'll mark this closed.

[2015-06-02 20:57] twhitacre commented on #109
@leslienw - Much better! See [here](https://github.com/leslienw/functions.js/blob/master/functions.js#L17-L21), you are calling the function inside of the function, which is never good. Also, see [here](https://github.com/leslienw/functions.js/blob/master/functions.js#L45-L49), you will want to return a `boolean` of `true` or `false` rather than `"true"` and `"false"`.

Also, I'll mark this `compl

[2015-06-02 20:58] twhitacre commented on #117
:+1: Looks good.

I'll mark this closed since you are still working on `Assignment 3` which was part of this.

[2015-06-02 20:59] twhitacre commented on #123
:+1: Looks much better.

I'll mark this closed, but a couple things. See [here](https://github.com/jaleach/Assgnexercise7/blob/master/exercises.js#L37-L39), you'll want to return back a `boolean` instead of a `string`.

[2015-06-02 23:33] combs-justin-m commented on #236
Timeline repo : https://github.com/combs-justin-m/Timeline
Timeline live: http://combs-justin-m.github.io/Timeline/

[2015-06-02 23:33] #236 closed

[2015-06-03 01:00] krose422 commented on #241
Repo: https://github.com/krose422
gh-pages: http://krose422.github.io/Assignment13

[2015-06-03 01:00] #241 closed

[2015-06-03 01:55] JamieUdaho commented on #238
Main Repo: https://github.com/JamieUdaho/assignment13-handlebar-timeline
GH Pages: http://jamieudaho.github.io/assignment13-handlebar-timeline

For whatever reason, when in my largest-screen css file (max.scss), the date/time/icons for the hipster ipsum (second text box) is scrunched up underneath the zombie ipsum date/time/icons (first text box).

NONE of the other divs behaved this way. I can't

[2015-06-03 01:55] #238 closed

[2015-06-03 02:26] nickleach commented on #246
Repo: https://github.com/nickleach/Timelines
GH-Page: http://nickleach.github.io/Timelines/

[2015-06-03 02:26] #246 closed

[2015-06-03 03:33] tvpham11 commented on #252
Repo: https://github.com/tvpham11/timeline
GH-pages: http://tvpham11.github.io/timeline/

I built the page using mobile first but when I tried to set a max-width on the content (for big.css), I couldn't get my page to behave as I wanted (by moving the divs for time/date, icon, and content).

[2015-06-03 03:33] #252 closed

[2015-06-03 04:08] jjoyave1 commented on #239
repo = https://github.com/jjoyave1/assignment-13

link = http://jjoyave1.github.io/assignment-13

i ended up starting from scratch after I had 4 css files when I read up on bourbon/neat's breakpoint @media functions

[2015-06-03 04:08] #239 closed

[2015-06-03 05:50] jaleach commented on #237
http://jaleach.github.io/Assignment-13

https://github.com/jaleach/Assignment-13

Homework not complete, would like to reopen to complete

[2015-06-03 06:13] MeadeSlocomb commented on #243
https://github.com/MeadeSlocomb/IpsumTimeline

http://meadeslocomb.github.io/IpsumTimeline/

[2015-06-03 06:13] #243 closed

[2015-06-03 11:44] mjhewett commented on #244
Not finished. It took a really long time for me to get stuff on the page unfortunately. I will finish it today.

https://github.com/mjhewett/assignment13

[2015-06-03 12:00] mmarcinek commented on #245
http://mmarcinek.github.io/timelines/ (gh-pages)
https://github.com/mmarcinek/timelines (repo)

Still has major issues with large screen view and is incomplete, a bug that needs to be fixed with font-awesome stacking, and I then need to finish up styles after figuring out the bugs. Sorry Tim,  I really wanted this to be complete. My media break works though, so a small victory in the sea of fail.

[2015-06-03 12:00] #245 closed

[2015-06-03 12:50] leslienw commented on #242
Working on figuring this out. Place holding this until I can get my api working.

Gh-pages - http://leslienw.github.io/assignment13/

[2015-06-03 12:57] kishanbhakta commented on #240
http://kishanbhakta.github.io/Assignment13/

[2015-06-03 12:57] #240 closed

[2015-06-03 13:21] psamp commented on #248
repo: https://github.com/psamp/Veggie_Blog

gh-pages: http://psamp.github.io/Veggie_Blog

[2015-06-03 13:21] jisaacks commented on #246
This looks great Nick!

[2015-06-03 13:25] jisaacks commented on #236
Great work!

[2015-06-03 13:29] theatrekid09 commented on #250
I am still working on my assignment, with the api, I thought I had it but I didn't .

[2015-06-03 13:29] jisaacks commented on #248
When I go to your gh pages I do not see anything. Did you check that it worked before you turned it in?

[2015-06-03 13:32] jisaacks commented on #243
Great work!

[2015-06-03 13:35] jisaacks commented on #241
Awesome work, this looks great. You should probably give your template a name that describes what it is for though.

Also FYI, no big deal but the link you posted was to your profile not the repo. I still found it tho :)

[2015-06-03 13:41] jisaacks commented on #239
Awesome work, it looks awesome!!

Just a note, you should get in the habit of using semantic template names. You will eventually be using multiple templates and will need the name to describe what it is so you do not get confused. For example `timeline` might have been a more appropriate name.

Great work though!

[2015-06-03 16:59] twhitacre opened #254 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #255 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #256 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #257 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #258 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #259 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #260 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #261 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #262 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #263 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #264 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #265 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #266 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #267 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #268 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #269 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #270 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #271 "Assignment 14"

[2015-06-03 16:59] twhitacre opened #272 "Assignment 14"

[2015-06-03 18:06] combs-justin-m commented on #255
Constructors Repo : https://github.com/combs-justin-m/ConstructorsJS
Constructors GH : http://combs-justin-m.github.io/ConstructorsJS

[2015-06-03 18:06] #255 closed

[2015-06-03 18:32] krose422 commented on #260
Repo: https://github.com/krose422/Assignment14
gh-pages: http://krose422.github.io/Assignment14

[2015-06-03 18:32] #260 closed

[2015-06-03 18:34] JamieUdaho commented on #257
Main Repo:     https://github.com/JamieUdaho/assignment14-constructors
GH Pages:    http://jamieudaho.github.io/assignment14-constructors

[2015-06-03 18:34] #257 closed

[2015-06-03 19:16] mjhewett commented on #263
site: http://mjhewett.github.io/iife/

repo: https://github.com/mjhewett/iife

...I accidentally pushed to my iife repo, but I hadn't pushed anything to it yet so I just used it for assignment14

[2015-06-03 19:16] #263 closed

[2015-06-03 19:40] nickleach commented on #265
Repo: https://github.com/nickleach/constructors
GH-Page: http://nickleach.github.io/constructors/

[2015-06-03 19:40] #265 closed

[2015-06-03 20:31] kishanbhakta commented on #259
GH-PAGES Link
http://kishanbhakta.github.io/Assignment14-ConstructorsInstances

REPO Link
https://github.com/kishanbhakta/Assignment14-ConstructorsInstances

[2015-06-03 20:31] #259 closed

[2015-06-03 21:07] mmarcinek commented on #264
http://mmarcinek.github.io/constructors/ (gh-pages)
https://github.com/mmarcinek/constructors (repo)

Thanks Tim!!!!!

[2015-06-03 21:07] #264 closed

[2015-06-04 01:31] chrisbusta commented on #44
http://chrisbusta.github.io/surf-and-paddle/
https://github.com/chrisbusta/surf-and-paddle/tree/gh-pages

[2015-06-04 01:31] #44 closed

[2015-06-04 01:39] theatrekid09 commented on #60
I need help on changing the color when I hover over an image in the footer. I did a google search but couldn't find anything so I'm going to either ask you or JD about that tomorrow and I will try messing with it again later. I did figure out how to make them hover though.

http://theatrekid09.github.io/surfandpaddle/

[2015-06-04 01:40] theatrekid09 commented on #60
https://github.com/theatrekid09/surfandpaddle/tree/gh-pages

[2015-06-04 02:40] tvpham11 commented on #271
Repo: https://github.com/tvpham11/objectConstructors
GH-pages: http://tvpham11.github.io/objectConstructors

[2015-06-04 02:40] #271 closed

[2015-06-04 02:58] jjoyave1 commented on #258
https://github.com/jjoyave1/assignment-14

http://jjoyave1.github.io/assignment-14

[2015-06-04 03:17] jaleach commented on #256
http://jaleach.github.io/Constructors-Assignment
https://github.com/jaleach/Constructors-Assignment

[2015-06-04 03:17] #256 closed

[2015-06-04 04:11] MeadeSlocomb commented on #262
https://github.com/MeadeSlocomb/ObjectConstructors

http://meadeslocomb.github.io/ObjectConstructors/

[2015-06-04 04:11] #262 closed

[2015-06-04 12:18] TRPMorrison commented on #270
Sorry Tim - I'm receiving a weird message when I try to create/merge this into gh-pages.

https://github.com/TRPMorrison/Constructors

[2015-06-04 14:44] TRPMorrison commented on #270
Fixed GH-Pages

http://trpmorrison.github.io/Constructors.

Some of mine passed, then when I would insert another variable, it would FAIL.  I plan on figuring this out.

[2015-06-04 20:26] twhitacre opened #273 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #274 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #275 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #276 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #277 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #278 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #279 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #280 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #281 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #282 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #283 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #284 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #285 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #286 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #287 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #288 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #289 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #290 "Assignment 15"

[2015-06-04 20:26] twhitacre opened #291 "Assignment 15"

[2015-06-05 16:22] leslienw commented on #52
I've fixed my post images hover and text. I attempted to fix the footer. It is not responsive. I know that I need to work on that more. This assignment has been making me fall behind. I hope to catch up on everything this weekend. I am going to take your advice you gave me in my 15min meeting and go about things differently.

[2015-06-05 16:22] #52 closed

[2015-06-05 18:21] oatneal17 commented on #57
gh-pages: http://oatneal17.github.io/surf/
repo: https://github.com/oatneal17/surf

[2015-06-05 18:21] #57 closed

[2015-06-05 19:43] JamieUdaho commented on #276
Main Repo:  https://github.com/JamieUdaho/assignment15-todolist
GH Pages:  http://jamieudaho.github.io/assignment15-todolist

[2015-06-05 20:03] JamieUdaho commented on #276
For whatever reason, my GH Pages wasn't publishing properly. So I used divshot instead. Here's my divshot URL: http://development.jamie-tiy-todolist.divshot.io/

[2015-06-05 20:03] #276 closed

[2015-06-05 20:05] mjhewett commented on #282
repo: https://github.com/mjhewett/todolist

[2015-06-05 20:16] mjhewett commented on #282
divshot page: http://development.max-assignment15-todo-tiy.divshot.io

[2015-06-05 20:16] #282 closed

[2015-06-07 03:27] combs-justin-m commented on #274
DivShot: http://development.jcombs-tiy-todo.divshot.io/

Repo: https://github.com/combs-justin-m/Todo

[2015-06-07 03:27] #274 closed

[2015-06-07 23:48] jjoyave1 commented on #277
https://github.com/jjoyave1/assignment-15/tree/master

http://jjoyave1.github.io/assignment-15

[2015-06-07 23:48] #258 closed

[2015-06-08 00:29] krose422 commented on #279
Repo: https://github.com/krose422/Assignment15
Deployed: http://development.kelley-rose-todo-list.divshot.io/

I tried out hard mode! The counter wasn't bad, and I figured out a way to get the completed and incomplete lists to show up. There is a bug when switching back to the all items list unfortunately. I need to figure out a way to find which <li>s  match the data to add the 'complete' class b

[2015-06-08 00:29] #279 closed

[2015-06-08 00:30] krose422 commented on #279
Oh! And I did make it responsive. :)

[2015-06-08 03:19] nickleach commented on #284
Divshot: http://development.nick-tiy-todo.divshot.io
Repo: https://github.com/nickleach/To-Do-List

[2015-06-08 03:19] #284 closed

[2015-06-08 03:30] tvpham11 commented on #290
Repo: https://github.com/tvpham11/to-do-list
App: http://development.tvp-tiy-to-do-list.divshot.io

[2015-06-08 03:30] #290 closed

[2015-06-08 03:33] jaleach commented on #275
https://github.com/jaleach/Asssignment-15

http://development.jal-todo.divshot.io
 http://jaleach.github.io/Asssignment-15
Had trouble with gh-pages publishing the page

[2015-06-08 03:33] #275 closed

[2015-06-08 03:36] mmarcinek commented on #283
http://development.mike-tiy-todo.divshot.io/ (deployment)
https://github.com/mmarcinek/to-do (repo)

Sadly, I noticed that I broke my delete function after I had already deployed. I will fix this and update both the repo and divshot and will comment when that is completed.

[2015-06-08 03:36] #283 closed

[2015-06-08 12:36] psamp commented on #286
divshot: http://development.psamp-todo.divshot.io
repo: https://github.com/psamp/g.s.d.

[2015-06-08 12:39] kishanbhakta commented on #278
https://github.com/kishanbhakta/Assignment15-ToDoList

I wasn't able to divshot push because it exists already?!?

[2015-06-08 13:05] kishanbhakta commented on #278
http://development.bhktkshn-todo.divshot.io

[2015-06-08 13:05] #278 closed

[2015-06-08 17:41] mmarcinek commented on #283
Fixed trash functionality, both github master and divshot deployment have been updated with changes.

[2015-06-08 18:00] twhitacre opened #292 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #293 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #294 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #295 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #296 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #297 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #298 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #299 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #300 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #301 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #302 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #303 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #304 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #305 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #306 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #307 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #308 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #309 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #310 "Assignment 16"

[2015-06-08 18:00] twhitacre opened #311 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #312 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #313 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #314 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #315 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #316 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #317 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #318 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #319 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #320 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #321 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #322 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #323 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #324 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #325 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #326 "Assignment 17"

[2015-06-08 18:00] twhitacre opened #327 "Assignment 17"

[2015-06-08 18:06] twhitacre opened #328 "Assignment 17"

[2015-06-08 18:21] jjoyave1 commented on #296
https://github.com/jjoyave1/assignment-15/tree/prototype

[2015-06-08 18:34] JamieUdaho commented on #295
https://github.com/JamieUdaho/assignment15-todolist/tree/prototype

[2015-06-08 18:34] #295 closed

[2015-06-08 18:56] mjhewett commented on #301
https://github.com/mjhewett/todolist/tree/protoBranch

[2015-06-08 20:38] twhitacre opened #329 "Assignment 17"

[2015-06-08 21:04] nickleach commented on #303
Repo: https://github.com/nickleach/To-Do-List/tree/prototype
Divshot: http://development.nick-tiy-todo.divshot.io/

[2015-06-08 21:04] #303 closed

[2015-06-09 00:30] mmarcinek commented on #302
https://github.com/mmarcinek/to-do/blob/prototype/app/js/main.js (here is my prototype branch .JS, project still needs major refactoring as it is quite a mess, it works, but is a mess.)

[2015-06-09 00:30] #302 closed

[2015-06-09 00:47] krose422 commented on #298
Prototype branch: https://github.com/krose422/Assignment15/tree/prototype

[2015-06-09 00:47] #298 closed

[2015-06-09 01:16] combs-justin-m commented on #293
https://github.com/combs-justin-m/Todo/tree/prototype

[2015-06-09 01:16] #293 closed

[2015-06-09 02:32] MeadeSlocomb commented on #281
https://github.com/MeadeSlocomb/DoIt

http://development.tiy2015-slocomb-doit.divshot.io/

[2015-06-09 02:32] #281 closed

[2015-06-09 02:39] MeadeSlocomb commented on #300
Included a prototype to reformat my "due date" string to a more user friendly format.

https://github.com/MeadeSlocomb/DoIt/tree/prototype

[2015-06-09 02:39] #300 closed

[2015-06-09 03:20] tvpham11 commented on #309
https://github.com/tvpham11/to-do-list/tree/prototype

Tim, if you have time, maybe we can look over why my delete function is so buggy? Thanks! :+1:

[2015-06-09 03:20] #309 closed

[2015-06-09 03:21] tvpham11 commented on #309
https://github.com/tvpham11/to-do-list/blob/prototype/app/js/main.js

[2015-06-09 03:52] kishanbhakta commented on #316
http://kishanbhakta.github.io/javascript-koans/

I still need to attempt the EXTRA CREDIT!

[2015-06-09 03:55] jaleach commented on #294
divshot:  http://development.jal-todo.divshot.io

github:  https://github.com/jaleach/Asssignment-15/tree/prototype

[2015-06-09 16:34] TRPMorrison commented on #289
https://github.com/TRPMorrison/To-Do
http://development.to-do.divshot.io

[2015-06-09 18:35] jjoyave1 commented on #315
https://github.com/jjoyave1/javascript-koans/tree/gh-pages

[2015-06-09 18:35] #315 closed

[2015-06-09 18:55] nickleach commented on #322
https://github.com/nickleach/javascript-koans
http://nickleach.github.io/javascript-koans/

[2015-06-09 18:55] #322 closed

[2015-06-09 19:24] twhitacre opened #330 "Assignment 18"

[2015-06-09 19:24] twhitacre opened #331 "Assignment 18"

[2015-06-09 19:24] twhitacre opened #332 "Assignment 18"

[2015-06-09 19:24] twhitacre opened #333 "Assignment 18"

[2015-06-09 19:24] twhitacre opened #334 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #335 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #336 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #337 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #338 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #339 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #340 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #341 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #342 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #343 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #344 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #345 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #346 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #347 "Assignment 18"

[2015-06-09 19:25] twhitacre opened #348 "Assignment 18"

[2015-06-09 19:36] krose422 commented on #317
Repo: https://github.com/krose422/javascript-koans/tree/gh-pages
gh-pages: http://krose422.github.io/javascript-koans

[2015-06-09 19:36] #317 closed

[2015-06-09 19:37] JamieUdaho commented on #314
GH Pages: http://jamieudaho.github.io/javascript-koans
GH Pages Repo: https://github.com/JamieUdaho/javascript-koans/tree/gh-pages

[2015-06-09 19:37] #314 closed

[2015-06-09 20:05] combs-justin-m commented on #312
KOANS 9/9 GH Repo: https://github.com/combs-justin-m/javascript-koans/tree/gh-pages

[2015-06-09 20:05] #312 closed

[2015-06-09 20:18] kishanbhakta commented on #297
https://github.com/kishanbhakta/Assignment15-ToDoList/tree/prototype

Todo.prototype.toggle = function () {

    if (this.status === 'open') {
        this.status = 'closed';
    }else (this.status = 'open');
};

[2015-06-09 20:18] #297 closed

[2015-06-09 20:22] kishanbhakta commented on #316
As you can see, It was late when I submitted this assignment. I completely missed the About Applying What We Have Learnt, and actually applying what I learnt.

[2015-06-09 20:28] twhitacre commented on #237
@jaleach looking pretty good. Looks like you just need to add in the responsive styles. Let me know if you need help with this.

[2015-06-09 21:58] JamieUdaho commented on #333
Repo:  https://github.com/JamieUdaho/assignment18-jstesting

[2015-06-09 21:58] #333 closed

[2015-06-09 22:23] mmarcinek commented on #321
https://github.com/mmarcinek/javascript-koans/tree/gh-pages/koans

Here are all 53 Koans completed, however, I was hoping that we could go over the last one in class? I understanding everything up to the final each(or reduce) function (chaining, mapping, flattening etc.) and hacked together an answer from what was already available in the previous solve, I kind of understand why it works, but woul

[2015-06-09 22:23] #321 closed

[2015-06-10 00:54] chrisbusta commented on #121
https://github.com/chrisbusta/assignment7/tree/gh-pages

[2015-06-10 02:08] combs-justin-m commented on #331
https://github.com/combs-justin-m/Test-Foo

[2015-06-10 02:08] #331 closed

[2015-06-10 02:51] tvpham11 commented on #328
Repo: https://github.com/tvpham11/javascript-koans
GH-pages: http://tvpham11.github.io/javascript-koans

[2015-06-10 02:51] #328 closed

[2015-06-10 03:05] kishanbhakta commented on #316
Got through all exercises , except the final question in regards to ingredient count.

[2015-06-10 03:05] #316 closed

[2015-06-10 03:13] MeadeSlocomb commented on #319
https://github.com/MeadeSlocomb/javascript-koans

[2015-06-10 03:17] mjhewett commented on #320
repo: https://github.com/mjhewett/javascript-koans/tree/gh-pages

page: http://mjhewett.github.io/javascript-koans/

[2015-06-10 03:17] #320 closed

[2015-06-10 03:46] jaleach commented on #313
Koans assignment:  https://github.com/jaleach/javascript-koans/tree/gh-pages/koans

[2015-06-10 11:40] jaleach commented on #313
http://jaleach.github.io/javascript-koans
Koans assignment: https://github.com/jaleach/javascript-koans/tree/gh-pages/koans

[2015-06-10 11:40] #313 closed

[2015-06-10 11:47] TRPMorrison commented on #327
https://github.com/TRPMorrison/javascript-koans/tree/gh-pages/koans

[2015-06-10 13:10] robertfine4631 commented on #325
https://github.com/robertfine4631/javascript-koans repo

http://robertfine4631.github.io/javascript-koans/  gh-pages

[2015-06-10 13:10] #325 closed

[2015-06-10 13:24] robertfine4631 commented on #249
https://github.com/robertfine4631/assignment13

http://robertfine4631.github.io/assignment13/

[2015-06-10 18:45] krose422 commented on #336
Repo: https://github.com/krose422/Assignment18
The JS files are in the app/JS folder and the tests are in the test folder.

[2015-06-10 18:45] #336 closed

[2015-06-10 21:46] mmarcinek commented on #340
https://github.com/mmarcinek/testing-assign18

Repo of testing assignment...

[2015-06-10 21:46] #340 closed

[2015-06-11 01:09] nickleach commented on #341
https://github.com/nickleach/FooBarTest

[2015-06-11 01:09] #341 closed

[2015-06-11 02:23] jjoyave1 commented on #334
file:///Users/jjoyave1/TIY/projects/assignment-18/test/index.html

having some real wacky issues with gulp

[2015-06-11 03:25] mjhewett commented on #339
https://github.com/mjhewett/Assignment18/tree/master

[2015-06-11 03:25] #339 closed

[2015-06-11 04:13] MeadeSlocomb commented on #338
https://github.com/MeadeSlocomb/FooTesters

[2015-06-11 04:13] #338 closed

[2015-06-11 04:21] jaleach commented on #332
https://github.com/jaleach/Assignment18

[2015-06-11 12:49] kishanbhakta commented on #335
https://github.com/kishanbhakta/Assignment18

I didn't link underscore, but once I did that, things went well.

[2015-06-11 17:09] twhitacre opened #349 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #350 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #351 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #352 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #353 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #354 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #355 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #356 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #357 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #358 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #359 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #360 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #361 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #362 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #363 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #364 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #365 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #366 "Assignment 19"

[2015-06-11 17:09] twhitacre opened #367 "Assignment 19"

[2015-06-11 18:05] twhitacre commented on #238
:+1: Great work.

If you have a free moment, try changing this from adaptive to fully responsive. See more info here about it - http://blog.teamtreehouse.com/which-page-layout

[2015-06-11 18:06] twhitacre commented on #240
@kishanbhakta pretty close. I'll mark it closed, but take another look at it to clean it up.

[2015-06-11 18:06] twhitacre commented on #244
@mjhewett - let me know if you need help with it.

[2015-06-11 18:15] twhitacre commented on #245
@mmarcinek looks good. Yes, you could clean up some of the your styles for your large view, but I'll mark this closed for now. I would clean it up a bit though for the use in your portfolio.

[2015-06-11 20:32] twhitacre commented on #252
@tvpham11 You will want to update your large (big.css) view when you get a chance, but it looks good enough for me to close!

Great work, good attention to detail.

[2015-06-11 20:33] twhitacre commented on #255
:+1: Great work!

[2015-06-11 20:34] twhitacre commented on #256
:+1: Great work!

[2015-06-11 20:34] twhitacre commented on #257
:+1: Great work!

[2015-06-11 20:35] twhitacre commented on #258
:+1: Great work!

[2015-06-11 20:37] twhitacre commented on #259
:+1: Great work!

[2015-06-11 20:38] twhitacre commented on #260
:+1: Great work!

[2015-06-11 20:38] twhitacre commented on #262
:+1: Great work!

[2015-06-11 20:39] twhitacre commented on #263
:+1: Great work!

[2015-06-11 20:39] twhitacre commented on #264
:+1: Great work!

[2015-06-11 20:39] twhitacre commented on #265
:+1: Great work!

[2015-06-11 20:40] twhitacre commented on #270
@TRPMorrison - Let me know if you need help with it!

[2015-06-11 20:40] twhitacre commented on #271
:+1: Great work!

[2015-06-11 20:57] twhitacre commented on #274
:+1: Nice work! A lot of attention to detail.

Your code `main.js` is really well organized. I would suggest adding some comments though so when you go back later it will be easier to navigate through.

[2015-06-12 17:37] theatrekid09 commented on #193
https://github.com/theatrekid09/EtsyProject/tree/dev This is where I am the moment. I will work on it later.

[2015-06-12 17:47] twhitacre commented on #275
:+1: Great work

One comment would be when working on larger projects like this you should have a lot more than 4 commits. Learn to break you work up into small pieces. It will help you go back if you ever make a big mistake.

[2015-06-12 17:47] theatrekid09 commented on #326
Repo: https://github.com/theatrekid09/javascript-koans/tree/gh-pages

Still Working on Javascript Koans

[2015-06-12 17:53] twhitacre commented on #276
:+1: Great work.

Really great work on the design. The interaction feels smooth.

Your code is getting much cleaner, better use of white-space and indentation.

FYI - the reason the `gh-pages` doesn't work is because with the new template tool, there is no longer an `index.html` file in the root. There is now only one in the `app` directory, which is why when you use Divshot, you tell it to use th

[2015-06-12 17:53] twhitacre commented on #277
@jjoyave1 - do you have a deployed link to this?

[2015-06-12 17:55] twhitacre commented on #278
:+1: Great work. Your code is well written, documented and easy to follow. Also, the design is nice and clean.

The count is an awesome feature, but at first I wasn't sure what it was. Maybe add some information around it, saying what it is visually for your users.

Great work though!

[2015-06-12 17:57] theatrekid09 commented on #288
repo:https://github.com/theatrekid09/Assignment-15/tree/gh-pages

Still Working on the to do list. I set up a time next week to get help if I can get it working this weekend

[2015-06-12 18:05] theatrekid09 commented on #136
repo: https://github.com/theatrekid09/Assignment7/blob/gh-pages/main.js

Still Working on this assignment

[2015-06-12 18:12] twhitacre commented on #279
:+1: Great work! Love the design and the user experience. Very easy to use. The responsive styles look great as well.

Your JS is also very well organized. Very easy to read through.

[2015-06-12 18:16] twhitacre commented on #281
:+1: Great work. Very simple design (maybe a little too simple :smile: ). I like that you can add a date, nice work on that.

I know you are not a designer, but I think you should spend a few minutes cleaning up the design as this could make a really nice portfolio piece.

[2015-06-12 18:16] theatrekid09 commented on #174
repo : https://github.com/theatrekid09/Assignment9-Accordion/tree/gh-pages

I need to rework my scss to get my accordion to work but I finished with the javascript and html

[2015-06-12 18:18] twhitacre commented on #282
:+1: Great work. Simple design, easy to use.

You have some weird element names like `fudge` and while it doesn't really matter, try as a practice to make the easier for any developer coming in to have a guess as to what they are.

[2015-06-12 18:21] twhitacre commented on #283
:+1: Nice work.

The design is fun. The only thing I don't like is how each task is next to each other. It makes it a little hard to use. I think if you wanted to keep it this way you should add a background color or border around each one so you can tell where one starts and one ends. Just a though, but seriously great work.

Your JS is well organized though! Great work here!

[2015-06-12 18:23] twhitacre commented on #284
:+1: Great work. I love the thought of moving the completed items to the bottom. Nice user experience.

Your code is nicely laid out, but I would suggest adding some white-space between some different statements. It will make it easier to read and to come back to later. See [here](https://github.com/nickleach/To-Do-List/blob/master/app/js/main.js#L45-L55), maybe add some line breaks above and belo

[2015-06-12 18:24] twhitacre commented on #288
@theatrekid09 cool! Let me now if you need help!

[2015-06-12 18:24] twhitacre commented on #289
@TRPMorrison looks like you have a few JS errors. Let me know if you need help!

[2015-06-12 18:43] twhitacre commented on #290
:+1: Great job! Great interaction. I like how the completed items move to a new list.

[2015-06-12 18:44] theatrekid09 commented on #250
repo: https://github.com/theatrekid09/Assignment13/tree/gh-pages

http://theatrekid09.github.io/Assignment13

Still working on this trying to find out how to get the on the page separately but figured it out yesterday using handlebars so will get back to it when I have time. But, this is what I have done so far.

[2015-06-12 18:50] twhitacre commented on #293
You used the prototype in the correct fashion, but by using a property that will be unique to each different task, you can't change the property for each.

FYI, I was referring to this one - [here](https://github.com/combs-justin-m/Todo/blob/prototype/app/js/main.js#L11) - let me know if I was looking at the wrong one.

I'll mark it closed though.

[2015-06-13 02:27] jjoyave1 commented on #277
it was working at one point, why isn't the gh-pages link active?

[2015-06-14 21:03] chrisbusta commented on #178
http://chrisbusta.github.io/etsy/
https://github.com/chrisbusta/etsy/tree/gh-pages
Still working on getting the images correctly lined up. Got help with the api's.

[2015-06-14 21:07] chrisbusta commented on #273
https://github.com/chrisbusta/toDoList/tree/gh-pages
http://chrisbusta.github.io/toDoList/

[2015-06-14 22:06] jaleach commented on #351
Divshot:  http://development.tiy-jim-contact.divshot.io

github:  https://github.com/jaleach/Contacts-Project

[2015-06-14 22:06] #351 closed

[2015-06-14 22:09] combs-justin-m commented on #350
DivShot: http://development.jcombs-tiy-contactlist.divshot.io/

[2015-06-14 22:09] #350 closed

[2015-06-14 23:00] tvpham11 commented on #347
Tim, I forgot to close out this issue even though I finished it on time! I apologize for that.

Repo: https://github.com/tvpham11/foobar

[2015-06-14 23:00] #347 closed

[2015-06-14 23:59] krose422 commented on #355
Divshot site: http://development.kelley-rose-contact-list.divshot.io/

[2015-06-14 23:59] #355 closed

[2015-06-15 00:13] krose422 commented on #355
Forgot to mention - the upload file buttons do not work on the little avatar, but I wanted to put them there so whenever I do learn how to deal with that, I can add it easily (hopefully). It's kind of responsive... but I developed for the browser first, so it was hard to go to mobile. Next time I definitely want to think mobile first like we're supposed to when we do responsive.

[2015-06-15 00:14] mmarcinek commented on #359
http://development.tiy-mike-contact.divshot.io/ (DEPLOY)
https://github.com/mmarcinek/contact (REPO)

[2015-06-15 00:14] #359 closed

[2015-06-15 00:46] jjoyave1 commented on #353
http://development.assn-19-contact-list.divshot.io/

[2015-06-15 00:47] #353 closed

[2015-06-15 00:48] jjoyave1 commented on #277
fixed it, had a typo in my directory in the json file

http://development.assignment-15.divshot.io/

[2015-06-15 00:48] #277 closed

[2015-06-15 01:15] JamieUdaho commented on #352
Main Repo: https://github.com/JamieUdaho/assignment19-contactlist
Divshot deployed version: http://development.tiy-jamiegamblin-contactlist.divshot.io/

I would like to sit down and go over the following issues I had:

1. sorting alphabetically in sidebar
2. reversing order of data brought in from heroku data
3. on click of a name in sidebar, I can get their contact card to show up, but it doesn't

[2015-06-15 01:38] twhitacre commented on #294
@jaleach

Take another look at this - [here](https://github.com/jaleach/Asssignment-15/blob/prototype/app/js/main.js#L17-L22) - the `.fn` is a jQuery type prototype and the other one you set up, you added a prototype of the constructor to the constructor.

Let me know if you need help with this one.

[2015-06-15 01:38] twhitacre commented on #295
:+1: Great work. Nice and simple.

[2015-06-15 01:39] twhitacre commented on #297
:+1:  Great work.

[2015-06-15 01:40] twhitacre commented on #296
@jjoyave1 - could you take a look at this. There doesn't seem to be a `prototype` branch and in your `master` branch there is only a jQuery prototype, but none for your main constructor.

[2015-06-15 01:41] twhitacre commented on #298
:+1: Great work

[2015-06-15 01:41] twhitacre commented on #300
:+1: nice work. Great choice of a prototype

[2015-06-15 01:42] twhitacre commented on #301
@mjhewett - I don't see a prototype used at all. Let me know if you need help.

[2015-06-15 01:44] twhitacre commented on #302
@mmarcinek you used the prototype [correctly](https://github.com/mmarcinek/to-do/blob/prototype/app/js/main.js#L47), but I would not put it inside of a event handler. You want it when the program runs, not after a user takes an action.

Let me know if that doesn't make sense.

[2015-06-15 01:49] twhitacre commented on #303
It looks like you used them correctly. I would add one that actually adds functionality to your app though.

Also, when you use a jQuery prototype (`.fn`), you usually only want to use `this` inside of there instead of targeting specific elements, as they might not exist at all times.

Let me know if that doesn't make sense.

[2015-06-15 01:50] twhitacre commented on #309
:+1: Great work with your `genHTML` prototype. We already talked about [this one](https://github.com/tvpham11/to-do-list/blob/prototype/app/js/main.js#L20-L29), but usually you don't want a prototype to then create an event handler.

Otherwise, great work!

[2015-06-15 01:51] twhitacre commented on #312
:+1:

[2015-06-15 01:51] twhitacre commented on #314
:+1:

[2015-06-15 01:52] twhitacre commented on #313
:+1:

[2015-06-15 01:52] twhitacre commented on #315
:+1:

[2015-06-15 01:54] twhitacre commented on #316
@kishanbhakta great work, working through them.

I'm going to close this one out, but I would suggest finishing it up as this is a great portfolio piece for any developer.

[2015-06-15 01:54] twhitacre commented on #317
:+1:

[2015-06-15 01:54] twhitacre commented on #320
:+1:

[2015-06-15 01:55] twhitacre commented on #319
@MeadeSlocomb - can you throw up the corrected KOANS into your `gh-pages` branch and put that link here?

[2015-06-15 01:56] twhitacre commented on #321
:+1: Glad to hear it helped!

[2015-06-15 01:56] twhitacre commented on #322
:+1:

[2015-06-15 01:56] twhitacre commented on #326
@theatrekid09 good to hear. Let me know how I can help!

[2015-06-15 01:57] twhitacre commented on #327
@TRPMorrison it looks like you only have 47/53 complete.

[2015-06-15 01:57] twhitacre commented on #328
:+1:

[2015-06-15 02:24] nickleach commented on #360
http://development.tiy-nick-contactlist.divshot.io/
https://github.com/nickleach/Contact-List

[2015-06-15 02:24] #360 closed

[2015-06-15 03:12] tvpham11 commented on #366
Repo: https://github.com/tvpham11/contacts
Divshot: http://development.tvp-tiy-contacts.divshot.io

[2015-06-15 03:12] #366 closed

[2015-06-15 04:47] MeadeSlocomb commented on #357
http://development.meade-tiy-contactlistapp.divshot.io/

https://github.com/MeadeSlocomb/Addressbook

[2015-06-15 04:47] #357 closed

[2015-06-15 12:55] theatrekid09 commented on #364
Still Working on this assignment. repo: https://github.com/theatrekid09/Contacts

[2015-06-15 13:15] mjhewett commented on #358
divshot: http://development.assignment19-maxh.divshot.io/

repo:  https://github.com/mjhewett/Assignment19

[2015-06-15 13:15] #358 closed

[2015-06-15 13:25] MeadeSlocomb commented on #319
Oops!  Not sure what I was thinking.

http://meadeslocomb.github.io/javascript-koans/

[2015-06-15 13:25] #319 closed

[2015-06-15 19:36] psamp commented on #267
repo: https://github.com/psamp/constructorspractice
gh-pages :http://psamp.github.io/constructorspractice/

[2015-06-15 19:36] #267 closed

[2015-06-15 19:49] JamieUdaho commented on #352
Fixed the items listed in the first comment (with the help of Tim). Pushed updates to master and divshot. Thanks!

[2015-06-15 19:49] #352 closed

[2015-06-15 20:15] chrisbusta commented on #235
http://chrisbusta.github.io/assignment13/
https://github.com/chrisbusta/assignment13/tree/gh-pages
Had help with the handlebars.

[2015-06-15 20:18] jisaacks commented on #331
Looks great!

[2015-06-15 20:29] jisaacks commented on #332
Hey Jim your `foo.js` looks good, a couple of notes about it:

In your code [here](https://github.com/jaleach/Assignment18/blob/master/app/js/foo.js#L16-L20), the expression `a.indexOf(b) >= 0` already evaluates to a **true** or a **false** so you can just return the expression by itself like so:

[code]

However, Please work some more one these tests [here](https://github.com/jaleach/Assignment18

[2015-06-15 21:03] jisaacks commented on #333
This looks great Jamie!

[2015-06-15 21:15] jisaacks commented on #334
@jo, the link your provided is a link on your own computer. See the `file:///` part. You are accessing a file on your own computer. I would not be able to open it though, since I am not on your computer. You need to post a link that is on github. Thanks!

[2015-06-16 02:33] jaleach commented on #237
refactored branch:  https://github.com/jaleach/Assignment-13/tree/refactor

[2015-06-16 02:33] #237 closed

[2015-06-16 03:58] jjoyave1 commented on #334
i found this very funny, must have done this during my troubles with divshot this weekend.  here's a deployed:

http://development.foo-bar-testing.divshot.io/

here's the repo as the test index doesn't show up on the deployed link:

https://github.com/jjoyave1/assignment-18

[2015-06-16 04:05] jjoyave1 commented on #296
yeah sorry Tim if you remember I completely destroyed the repo and rebuilt it and this was the result.  Here's the new link to the prototype branch.

[2015-06-16 13:30] jisaacks commented on #335
@kishanbhakta Great job so far. However you need to implement[ these two tests](https://github.com/kishanbhakta/Assignment18/blob/master/test/test.bar.js#L47-L58).

You have only put in empty strings which doesn't really test anything. Keep in mind that just because your test passes does not make it a good test. :)

[2015-06-16 13:32] jisaacks commented on #334
Great!! :)

[2015-06-16 13:34] jisaacks commented on #336
Looks great! :)

[2015-06-16 13:36] jisaacks commented on #338
Seriously awesome work! Great job on actually testing multiple cases. Very solid. :+1:

[2015-06-16 13:39] jisaacks commented on #339
Great work Max! :+1:

[2015-06-16 13:40] jisaacks commented on #341
Great work Nick!

[2015-06-16 13:44] jisaacks commented on #340
Great work!

[2015-06-16 13:57] jisaacks commented on #347
This looks great Vi!!

One note, your test for the `exponentOf` function does test that the return value is a function, however a more complete test would also test the functionality of that returned function. No big deal though, great work! :+1:

[2015-06-16 17:59] psamp commented on #362
repo: https://github.com/psamp/ficlist
divshot: http://development.psamp-ficlist.divshot.io/

[2015-06-16 17:59] #362 closed

[2015-06-16 19:39] twhitacre opened #368 "Assignment 20"

[2015-06-16 19:39] twhitacre opened #369 "Assignment 20"

[2015-06-16 19:39] twhitacre opened #370 "Assignment 20"

[2015-06-16 19:39] twhitacre opened #371 "Assignment 20"

[2015-06-16 19:39] twhitacre opened #372 "Assignment 20"

[2015-06-16 19:39] twhitacre opened #373 "Assignment 20"

[2015-06-16 19:39] twhitacre opened #374 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #375 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #376 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #377 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #378 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #379 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #380 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #381 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #382 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #383 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #384 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #385 "Assignment 20"

[2015-06-16 19:40] twhitacre opened #386 "Assignment 20"

[2015-06-16 20:40] twhitacre commented on #350
:+1: Great work! - Models, Collections and your `main.js` files are nicely organized.

[2015-06-16 20:53] twhitacre commented on #351
:+1: Looks good!

I would start on your bigger projects to implement Foundation, Bootstrap or other framework just to bring a little bit more style and design to your app, but your code structure (which is the most important part) is looking really good.

Also, see [here](https://github.com/jaleach/Contacts-Project/blob/master/app/js/main.js#L15-L20) - when you use a handful of variables like this

[2015-06-17 02:59] JamieUdaho commented on #371
Deployed version: http://development.tiy-jamiegamblin-friendslist.divshot.io/
Main repo: https://github.com/JamieUdaho/friends-list-using-routers

[2015-06-17 02:59] #371 closed

[2015-06-17 03:35] nickleach commented on #379
https://github.com/nickleach/photoalbum
http://development.tiy-nick-photoalbum.divshot.io/

[2015-06-17 03:35] #379 closed

[2015-06-17 03:40] krose422 commented on #374
Repo: https://github.com/krose422/friends-and-family
Deployed: http://development.friends-and-family.divshot.io/

[2015-06-17 03:40] #374 closed

[2015-06-17 03:43] jjoyave1 commented on #372
active link: http://development.assn-20-contacts.divshot.io

repo: https://github.com/jjoyave1/assignment-20

Today I believe I've misplaced a lot of my package caches (correct verbage?) and I have no set syntax for Sass or handlebars.  This made troubleshooting a bit old-school for this project.  If I need to go back and restyle, let me know.

[2015-06-17 03:49] combs-justin-m commented on #369
Repo: https://github.com/combs-justin-m/Backbone-List
DivShot: http://development.jcombs-tiy-backbonelist.divshot.io/

[2015-06-17 03:49] #369 closed

[2015-06-17 04:32] tvpham11 commented on #385
I decided to use photos from my trip to France in December instead... YIKES! :smile:

Repo: https://github.com/tvpham11/francetrip2014
Divshot: http://development.tvp-tiy-francetrip2014.divshot.io

[2015-06-17 04:32] #385 closed

[2015-06-17 11:24] TRPMorrison commented on #384
Unable to get form to load
https://github.com/TRPMorrison/1-Page-App
http://development.routes.divshot.io/

[2015-06-17 11:27] jaleach commented on #370
http://jaleach.github.io/Assignment-20
https://github.com/jaleach/Assignment-20

Assignment incomplete

[2015-06-17 11:33] TRPMorrison commented on #365
Sorry, not sure why my layout messed up and had to create a new Divshot page.  I'll fix later.
https://github.com/TRPMorrison/Contacts
http://development.contacts2.divshot.io/

[2015-06-17 11:51] mmarcinek commented on #378
http://development.assignment20.divshot.io/#input (divshot)
https://github.com/mmarcinek/backbone-picture-album (repo)

This is still a mess. I was able to put out quite a few fires, however, I can't seem to get the this.collection.add to push content to the server. Major hang-up since the project relies entirely on that functioning. I added Foundation to style it up, and will fix the server issue

[2015-06-17 11:51] #378 closed

[2015-06-17 11:53] TRPMorrison commented on #384
Tried to troubleshoot handlebars errors to get the page to load.  Had to create a new divshot app.  No luck.
http://development.routes2.divshot.io

[2015-06-17 12:10] mjhewett commented on #377
https://github.com/mjhewett/assignment-20

not quite done. Here's what I have so far.

[2015-06-17 12:25] twhitacre commented on #352
:+1: Great work! We already met about this, but your code looks really clean and nicely organized.

A few spots, like [here](https://github.com/JamieUdaho/assignment19-contactlist/blob/master/app/js/main.js#L50-L64), you can clean up your indentation a little bit. It seems like such a minor thing, but in the long run you'll be happy you did.

[2015-06-17 13:24] #372 closed

[2015-06-17 15:43] #334 closed

[2015-06-18 16:43] twhitacre commented on #353
:+1: Great work.

We looked at this in class, but it appears that you fixed some of the issues. I still see the double checkbox after you sort. Take a look at the `Backbone.Events` that we talked about yesterday and see if that will help you by using that to call the same `render` method again. That _might_ solve your problem.

[2015-06-18 16:48] twhitacre commented on #355
:+1: Excellent work. We looked at this in class which I think was very helpful for others to see what can be accomplished. The design is outstanding as well.

For your sidebar, you could have treated that as a separate view. You could use your main area as one view and your sidebar as another. That way you could have moved [this]() to that BB view to have a little better organization. Otherwise, e

[2015-06-18 16:58] twhitacre commented on #357
:+1: Great work getting everything to work nicely. I like that there is an edit option.

I would try to get used to using some templating library though instead of [doing this](https://github.com/MeadeSlocomb/Addressbook/blob/master/app/js/main.js#L18-L37) as it will make your life easier in the long run.

[2015-06-18 18:23] twhitacre commented on #359
:+1: Great work.

Since we did this pre BB views - you did an excellent job organizing all the JS it took to accomplish this. :+1:

[2015-06-18 18:25] twhitacre commented on #358
:+1: Great work!

Your code works nicely, but I would try to organize it a bit better. Also, see [here](https://github.com/mjhewett/Assignment19/blob/master/app/js/main.js#L86-L88), you'll want to put this in a handlebars template if possible. Even if you dislike handlebars, you should use some templating library as it will make your life easier in the future anyway.

[2015-06-18 18:26] twhitacre commented on #360
:+1:

Haha ->  `meaningoflife@LSD.com`

Great work organizing all of this code without BB views. I also really like the added functionality you added to it.

[2015-06-18 19:52] twhitacre commented on #362
:+1: good job!

It looks like [here](https://github.com/psamp/ficlist/blob/master/app/js/main.js#L68-L71) that you were on the right track to close this out. I think you should make a point to finish this up.

The design is really nice! great work!

[2015-06-18 19:54] twhitacre commented on #365
@TRPMorrison - it looks like there are some JS errors that you need to address.

This seems to be a pattern. Make sure you check your console for JS errors and make sure to run `jshint` on your `main.js` file before you turn in your work. It will save you so much time as it could be a very small/simple thing that is just out of place.

[2015-06-18 19:56] twhitacre commented on #366
:+1: Great work on the design, code and the sorting feature! Your code is nice and organized.

The delete button did not work for me, but I'll close it anyway since everything else did. Take a look at that though when you get a chance! :smile:

[2015-06-18 20:03] tvpham11 commented on #366
That stinks. I made one last change (added the word 'Delete') before pushing to Divshot and the icon on its own worked so I didn't even think something would break. I'll look into it! Thank you, @twhitacre!

[2015-06-18 20:04] twhitacre commented on #235
@chrisbusta - it's looking good so far. One of the key parts of this assignment though is to get the responsive piece in there. Let me know if you need help with that.

[2015-06-18 20:05] twhitacre commented on #273
@chrisbusta - the Github Pages URL doesn't seem to be working. Can you deploy it to Divshot and re-close this?

[2015-06-18 20:06] twhitacre commented on #44
:+1: Much better! Great job wrapping this up!

[2015-06-18 20:07] twhitacre commented on #121
@chrisbusta - Looks like there is still an issue with this. Can you take another look?

[2015-06-18 20:07] twhitacre commented on #178
@chrisbusta looking much better - let me know if you need help with the layout and with wrapping it up.

[2015-06-19 14:02] twhitacre commented on #52
:+1:

[2015-06-19 15:58] chrisbusta commented on #273
http://development.chris-tiy-todo.divshot.io

[2015-06-19 15:58] #273 closed

[2015-06-19 17:11] twhitacre commented on #237
:+1: Great work!

[2015-06-19 18:12] twhitacre commented on #267
:+1:

[2015-06-19 18:12] twhitacre commented on #286
:+1: Great work. Fun simple design.

[2015-06-19 18:12] #286 closed

[2015-06-19 18:15] twhitacre commented on #60
Much better. There is still a lot of cleanup that needs to happen, but I will close this so you can focus on your other assignments.

[2015-06-19 18:16] twhitacre commented on #174
@theatrekid09 let me know if you need help with this!

[2015-06-19 18:18] twhitacre commented on #384
@TRPMorrison let me know if you need help with this.

[2015-06-21 05:44] tvpham11 commented on #195
Not perfect, but I have made lots of changes to the styling since first working on it.

GH-pages: http://tvpham11.github.io/etsy-mockup/

[2015-06-21 05:44] #195 closed

[2015-06-22 04:14] chrisbusta commented on #178
https://github.com/chrisbusta/etsy/tree/gh-pages

http://chrisbusta.github.io/etsy
This is what I have so Far. still wasnt able to target the price,seller, title.

[2015-06-22 04:14] #178 closed

[2015-06-22 19:02] chrisbusta commented on #178
got more done

[2015-06-23 17:17] twhitacre opened #387 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #388 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #389 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #390 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #391 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #392 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #393 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #394 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #395 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #396 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #397 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #398 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #399 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #400 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #401 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #402 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #403 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #404 "Assignment 21"

[2015-06-23 17:17] twhitacre opened #405 "Assignment 21"

[2015-06-23 17:44] krose422 commented on #393
Repo: https://github.com/krose422/likebutton
Divshot: http://development.kr-likebutton.divshot.io/

[2015-06-23 17:44] #393 closed

[2015-06-23 17:46] JamieUdaho commented on #390
Deployed: http://development.tiy-jamie-angular-button.divshot.io/
Main Repo: https://github.com/JamieUdaho/angular-button-demo

[2015-06-23 17:46] #390 closed

[2015-06-23 17:50] mmarcinek commented on #397
http://development.likebutton.divshot.io (divshot deployment)
https://github.com/mmarcinek/The-Like-Button (repo)

[2015-06-23 17:50] #397 closed

[2015-06-23 18:11] MeadeSlocomb commented on #376
https://github.com/MeadeSlocomb/LikeButton

[2015-06-23 18:34] MeadeSlocomb commented on #395
http://v1.development.meade-likebutton.divshot.io/

https://github.com/MeadeSlocomb/LikeButton

[2015-06-23 18:34] #395 closed

[2015-06-23 18:39] nickleach commented on #398
http://development.tiy-nick-likebutton.divshot.io
https://github.com/nickleach/LikeButton

[2015-06-23 18:39] #398 closed

[2015-06-23 18:39] robertfine4631 commented on #401
https://dashboard.divshot.com/app/clickcounter/environments/development/activity

i think that is the right deliverable

https://github.com/robertfine4631/ClickCounter

here are the files on github just in case

[2015-06-23 18:48] jaleach commented on #389
Divshot:   http://development.tiy-likeit.divshot.io
Github:  https://github.com/jaleach/Like-Button

[2015-06-23 18:48] #389 closed

[2015-06-23 19:11] combs-justin-m commented on #388
DIVSHOT: http://development.jcombs-tiy-likebtn.divshot.io
REPO: https://github.com/combs-justin-m/Like-Me-Angular

[2015-06-23 19:11] #388 closed

[2015-06-23 19:25] mjhewett commented on #396
http://development.maxhlikesbutton.divshot.io/

repo https://github.com/mjhewett/like-button

[2015-06-23 19:25] #396 closed

[2015-06-23 19:30] psamp commented on #400
Divshot: http://development.psamp-likeit.divshot.io/
Repo: https://github.com/psamp/angularbutton

[2015-06-23 19:30] #400 closed

[2015-06-24 01:13] #37 closed

[2015-06-24 01:13] #76 closed

[2015-06-24 01:13] #95 closed

[2015-06-24 01:13] #114 closed

[2015-06-24 01:13] #133 closed

[2015-06-24 01:13] #152 closed

[2015-06-24 01:13] #190 closed

[2015-06-24 01:13] #247 closed

[2015-06-24 01:13] #266 closed

[2015-06-24 01:13] #285 closed

[2015-06-24 01:13] #304 closed

[2015-06-24 01:13] #323 closed

[2015-06-24 01:13] #342 closed

[2015-06-24 01:13] #361 closed

[2015-06-24 01:13] #380 closed

[2015-06-24 01:13] #399 closed

[2015-06-24 01:45] tvpham11 commented on #404
https://github.com/tvpham11/LikeButton

[2015-06-24 01:54] kishanbhakta commented on #392
https://github.com/kishanbhakta/Like-Button

[2015-06-24 02:52] jjoyave1 commented on #391
deployed: http://development.l1ek.divshot.io

repo: https://github.com/jjoyave1/assignment-21

[2015-06-24 02:53] mmarcinek commented on #378
Fixed the major issues with this project. Saving to server, data is persistent, views render properly through the router. The style is a pig.

[2015-06-24 10:50] chrisbusta commented on #235
http://chrisbusta.github.io/assignment13/
https://github.com/chrisbusta/assignment13/tree/gh-pages

[2015-06-24 10:50] #235 closed

[2015-06-24 10:51] chrisbusta commented on #235
almost done with the responsive. it gave me a lot of trouble last night

[2015-06-24 18:41] twhitacre opened #406 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #407 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #408 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #409 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #410 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #411 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #412 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #413 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #414 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #415 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #416 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #417 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #418 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #419 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #420 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #421 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #422 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #423 "Assignment 22"

[2015-06-24 18:41] twhitacre opened #424 "Assignment 22"

[2015-06-24 20:31] chrisbusta commented on #235
done with responsive.

[2015-06-25 01:20] twhitacre commented on #178
:+1: Great work wrapping this up!

[2015-06-25 01:35] twhitacre commented on #273
:+1: This looks good. Thanks for finishing it up.

[2015-06-25 01:36] twhitacre commented on #235
:+1: looks good!

[2015-06-25 13:01] jisaacks commented on #385
Vi great work.

Here you are [injecting into the page](https://github.com/tvpham11/francetrip2014/blob/master/app/js/views/main.view.js#L19) inside your render method.

That is considered a bad practice. A better way to do that would be to just as an `el` attribute on your view with a value of `#content`

[2015-06-25 13:07] jisaacks commented on #379
This looks great Nick!

[2015-06-25 13:08] jisaacks commented on #377
Thanks for turning this in Max, is this deployed to divshot somewhere?

[2015-06-25 13:11] jisaacks commented on #378
Mike, this looks great, did you have any questions?

[2015-06-25 13:14] jisaacks commented on #374
This looks fantastic Kelley!!

[2015-06-25 13:23] jisaacks commented on #371
This looks great Jamie!! Are those your kids in the pics?

Pro tip:
Your code here: https://github.com/JamieUdaho/friends-list-using-routers/blob/master/app/js/views/main.view.js#L29-L45

There is a library (you can install with bower) called `jquery.serializeJSON`, with it you would be able to shorten your code to something like:

[code]

[2015-06-25 13:28] jisaacks commented on #372
This looks great @jjoyave1, love the way you showed fav colors!

[2015-06-25 13:31] jisaacks commented on #369
This looks great Justin! I guess guitars could be considered family ;)

[2015-06-25 13:32] jisaacks commented on #370
@jaleach I get a 404 when I click on your first link. Did you deploy to divshot?

[2015-06-25 13:37] jisaacks commented on #319
Great work Meade!

[2015-06-25 13:40] jisaacks commented on #296
@jjoyave1 The only prototype I see you using is [here](https://github.com/jjoyave1/assignment-15/blob/prototype/app/js/main.js#L48) I am a little confused by what you are doing. Can you please explain?

[2015-06-25 13:44] jisaacks commented on #277
Looks good!

[2015-06-25 13:46] jisaacks commented on #195
Vi, I think it looks fantastic!

[2015-06-25 14:06] jisaacks commented on #388
Looks great!

[2015-06-25 14:07] jisaacks commented on #389
Great!

[2015-06-25 14:15] jisaacks commented on #391
Looks amazing. Is there a reason why you are using handlebars?

[2015-06-25 14:16] jisaacks commented on #404
Hi Vi!

Do you have this deployed to divshot?

[2015-06-25 14:18] jisaacks commented on #401
Bobby, that link is incorrect. Please get with @twhitacre, if you are unsure how to deploy to divshot.

[2015-06-25 14:20] jisaacks commented on #400
That is one big button! Looks great.

[2015-06-25 14:22] jisaacks commented on #397
Looks good to me!

[2015-06-25 14:23] jisaacks commented on #398
Looks great!

[2015-06-25 14:27] jisaacks commented on #396
Wow Max, I thought princess' button was big. Holy smokes.

[2015-06-25 14:30] jisaacks commented on #395
Looks great!

[2015-06-25 14:32] jisaacks commented on #392
Do you have this deployed somewhere?

[2015-06-25 15:00] mjhewett commented on #396
Yea. I went a bit overboard....

[2015-06-25 15:01] jjoyave1 commented on #296
it's just logging out an alert once you hit a certain number of tasks.

[2015-06-25 15:01] #296 closed

[2015-06-25 15:03] jisaacks commented on #390
Looks great Jamie!

[2015-06-25 15:04] jisaacks commented on #393
Looks great!!!

[2015-06-25 15:07] tvpham11 commented on #404
Hi @jisaacks. I forgot to deploy. Here is the link: http://development.tvp-tiy-like-button.divshot.io

[2015-06-25 15:07] #404 closed

[2015-06-25 15:09] jisaacks commented on #404
Thanks, Vi, looks great!

[2015-06-25 15:19] robertfine4631 commented on #401
http://v1.development.clickcounter.divshot.io/

actually this should be the correct Link. sorry about the confusion

[2015-06-25 15:19] #401 closed

[2015-06-25 15:24] jisaacks commented on #401
Thanks, looks great!!

[2015-06-25 22:47] jjoyave1 commented on #391
nah.  i do love handlebars though

[2015-06-25 22:47] #391 closed

[2015-06-26 19:35] krose422 commented on #412
Deployed: http://development.kr-climbinglist.divshot.io/#/login
Repo: https://github.com/krose422/Climbing-List

[2015-06-26 19:35] #412 closed

[2015-06-26 20:26] jjoyave1 commented on #410
http://development.im-grp.divshot.io

https://github.com/jjoyave1/assignment-22

[2015-06-26 20:29] MeadeSlocomb commented on #414
Tim, I may have been a bit too ambitious on this one.  It looks like I'm going to need your assistance at some point to finish this up.

The idea was to make an app that allows a user to submit a set of trivia questions, answers and a time limit for the quiz.  Users can then browse a list of quizzes, select and play them.  In hindsight, this was probably too much for a 2 day project and only 2 day

[2015-06-26 20:34] tvpham11 commented on #423
Started working on user authentication but did not get to finish.

Repo: https://github.com/tvpham11/reeadr
Divshot: http://development.tvp-tiy-reeadr.divshot.io/

[2015-06-26 20:34] #423 closed

[2015-06-26 20:59] jaleach commented on #408
http://development.tiy-elvis.divshot.io
https://github.com/jaleach/Elvis-Angular

[2015-06-26 20:59] #408 closed

[2015-06-26 21:01] nickleach commented on #417
http://development.tiy-nick-ournews.divshot.io
https://github.com/nickleach/OurNews

[2015-06-26 21:01] #417 closed

[2015-06-26 21:02] mmarcinek commented on #416
http://development.cycle-shop.divshot.io/#/ (divshot-deploy)
https://github.com/mmarcinek/cycle-shop (repo)

[2015-06-26 21:04] mjhewett commented on #415
repo: https://github.com/mjhewett/assignment22

[2015-06-26 21:06] mjhewett commented on #415
http://development.maxhassignment22.divshot.io/#/

[2015-06-26 21:06] #415 closed

[2015-06-26 21:11] mmarcinek commented on #416
P.S.- Future plans for this are to give a way nicer style to the single page view and to get the markers to function on the map. Also would like to add a discussion forum as another in app page.

[2015-06-26 21:37] kishanbhakta commented on #411
Divshot URL:  http://development.tiy-cigars.divshot.io

Github REPO URL:  https://github.com/kishanbhakta/CRUDApplication01

[2015-06-26 21:37] #411 closed

[2015-06-26 22:03] combs-justin-m commented on #407
REPO: https://github.com/combs-justin-m/CMYK
DIVSHOT: http://development.tiy-cmyk-jcombs.divshot.io/#/login

Really wanted to get the ACL set properly. Even when hardcoding a user id, Parse wouldn't recognize the read/write properties.

[2015-06-29 03:06] #410 closed

[2015-06-29 16:44] psamp commented on #419
repo: https://github.com/psamp/frodex
divshot: http://development.frodex.divshot.io/#/

[2015-06-30 01:09] JamieUdaho commented on #409
Definitely on the minimal side, but the basic functionality is working in my Doggie Hotel. Thanks for letting me turn this in later. I would like to revisit this app later and add more functionality AND styling.

Also, my divshot isn't working. Every name I try says it already exists. I highly doubt that "tiy-jamie-gamblin-theDoggieHotel" is already taken.... I could use some help figuring out tha

[2015-07-01 05:07] theatrekid09 commented on #136
Repo for Part 2: https://github.com/theatrekid09/Assignment-7-Part-2/tree/gh-pages
Don't know if I am doing the last one write, I was wondering if I can use for loop for this problem:  for(var i = 0  i < length  i++)
Repo for Part 1: https://github.com/theatrekid09/Assignment-7-Part-1/blob/gh-pages/main.js

[2015-07-01 05:28] leslienw commented on #128
Repo for Etsy Data Parsing - https://github.com/leslienw/items07.js

[2015-07-01 06:04] theatrekid09 commented on #402
Repo: https://github.com/theatrekid09/Like-Button

Need help uploading to github tried last night using the but didn't work for me. I divshot init, then divshot push

[2015-07-01 06:08] theatrekid09 commented on #193
https://github.com/theatrekid09/Etsy/tree/gh-pages

I need help with the item boxes, something is not right about them

[2015-07-01 15:32] JamieUdaho commented on #371
Thanks for the tip, JD! And yes, those are my kiddos. They're pretty cute :)

[2015-07-01 16:13] jisaacks commented on #371
Haha yep!

[2015-07-02 01:05] chrisbusta commented on #121
https://github.com/chrisbusta/assignment7/tree/gh-pages
http://chrisbusta.github.io/assignment7/

[2015-07-02 01:05] #121 closed

[2015-07-02 19:41] jaleach commented on #370
I was not able to get this divshot originally

On Thu, Jun 25, 2015 at 9:32 AM, JD Isaacks <notifications@github.com>
wrote:

--
*Jim Leach*

[2015-07-03 12:46] twhitacre commented on #121
:+1: Looking good.

[2015-07-03 12:51] twhitacre commented on #128
@leslienw - can you deploy this to Github Pages?

[2015-07-03 13:07] twhitacre commented on #136
Part 1 - Can you push up a deployed version of this and link to that?

Part 2 is looking pretty good. Tag myself, JD or one of the TA's to get help with the [translate](https://github.com/theatrekid09/Assignment-7-Part-2/blob/gh-pages/exercises.js#L59-L61) one.

[2015-07-03 13:08] twhitacre commented on #193
@theatrekid09 it's looking much better - you are almost there!

Let me know if you need help with those titles!

[2015-07-03 13:53] twhitacre commented on #402
@theatrekid09 - I need a deployed version of this. Let me know if you need help.

[2015-07-03 14:14] twhitacre commented on #408
:+1: Great work!

[2015-07-03 17:05] theatrekid09 commented on #402
http://development.khalif-lbutton.divshot.io/ : I just need to change it from saying "4 like" to "4 likes" when you click on the button

[2015-07-03 18:31] theatrekid09 commented on #60
I just need to figure out how to make the text change color when you hover over it
deployed version : http://theatrekid09.github.io/Surf-and-Paddle/

[2015-07-03 18:31] #60 closed

[2015-07-04 02:29] chrisbusta commented on #349
https://github.com/chrisbusta/assignment19/tree/gh-pages

[2015-07-04 02:57] chrisbusta commented on #349
http://development.chris-tiy-contactlist.divshot.io

[2015-07-04 18:34] #416 closed

[2015-07-06 13:33] MeadeSlocomb commented on #414
Ok, I fixed many of the issues over the weekend.  There are still a few features that I'd like to add before I'd consider it fully functional, but it's getting there.

http://development.meade-popquiz.divshot.io/

[2015-07-06 13:33] #414 closed

[2015-07-06 20:10] chrisbusta commented on #349
http://development.chris-todolist.divshot.io

[2015-07-07 01:53] twhitacre commented on #128
@leslienw - great work on the Etsy parsing part. That is `complete`

Let me know if you need help with those exercises.

[2015-07-07 01:55] twhitacre commented on #423
:+1: Great work!

[2015-07-07 01:56] twhitacre commented on #419
@psamp - it looks like the user reg and login work, but I can't seem to get the app working.

[2015-07-07 01:58] twhitacre commented on #417
:+1: Great work.

- Bonus points for the BB reference

[2015-07-07 02:00] twhitacre commented on #416
:+1: Nice work!

[2015-07-07 02:02] twhitacre commented on #415
:+1: Great work!

[2015-07-07 02:05] twhitacre commented on #414
@MeadeSlocomb - Meade! This is really awesome! Great work. This is a portfolio piece for sure.

[2015-07-07 02:07] twhitacre commented on #412
:+1: Incredible! Lots of hard work went into this one. Very well laid out, very well thought out. Excellent job.

[2015-07-07 02:08] twhitacre commented on #411
:+1: Great work.

[2015-07-07 02:09] twhitacre commented on #410
:+1: Ha, nice work! Love the app and the pictures.

[2015-07-07 02:10] twhitacre commented on #409
@JamieUdaho - let me know if you need help.

The divshot url `tiy-jamie-gamblin-theDoggieHotel` won't work because there are capitol letters in it. If you make them all lowercase it should work just fine.

Ping me once you get this pushed live.

[2015-07-07 02:13] twhitacre commented on #407
@combs-justin-m - tag me on this. The layout looks awesome, but when I try to register, I get an error. I'm guessing it's because of the ACL. Ping me and I can help you walk through it.

[2015-07-07 18:52] #418 closed

[2015-07-08 03:57] leslienw commented on #185
Repo - https://github.com/leslienw/etsy10
Gh-pages - http://leslienw.github.io/etsy10/

I have been working on a lot of old assignments. Material is a bit more understandable now in this last month. Mike has been very helpful in breaking things down. I know I have a ways to go.

[2015-07-08 13:33] combs-justin-m commented on #407
@twhitacre : Should be working now. I must have randomly switched off the public read/write CLP on the Users while trying to figure out ACL. I still want to get around to setting that up, and want to add a copy to clipboard feature.

[2015-07-08 13:33] #407 closed

[2015-07-09 14:00] leslienw commented on #280
Repo - https://github.com/leslienw/ToDoList
Divshot - http://development.leslie-todo.divshot.io/

I got it working but it doesn't cross out the li when click on it. There's a few other things that don't work properly. Going to need help on that.

[2015-07-09 14:00] #280 closed

[2015-07-09 14:46] theatrekid09 commented on #174
https://github.com/theatrekid09/Accordion/tree/gh-pages

[2015-07-09 14:46] theatrekid09 commented on #174
http://theatrekid09.github.io/Accordion

[2015-07-09 14:46] #174 closed

[2015-07-09 14:47] theatrekid09 commented on #136
Part 1: https://github.com/theatrekid09/Assignment-7-Part-1/blob/gh-pages/main.js

[2015-07-09 14:51] theatrekid09 commented on #136
ttp://theatrekid09.github.io/Assignment-7-Part-1

[2015-07-09 14:53] theatrekid09 commented on #136
the deployed version has nothing in it, I forgot how to make a page live in github because the one in my gh-pages is not working ;

Repo for Part 2:  https://github.com/theatrekid09/Assignment-7-Part-2/tree/gh-pages

[2015-07-09 15:16] twhitacre commented on #407
Awesome - this is a really cool app. Nice work! :+1:

[2015-07-10 14:01] mjhewett commented on #130
https://github.com/mjhewett/javercise

here is the updated repo with the last two problems finished.

[2015-07-10 14:01] #130 closed

[2015-07-10 14:36] chrisbusta commented on #387
https://github.com/chrisbusta/Like-Button/tree/gh-pages

[2015-07-10 14:43] chrisbusta commented on #387
http://development.chris-like-button.divshot.io

[2015-07-10 14:45] twhitacre commented on #130
:+1: Nice work - all done.

[2015-07-11 04:52] twhitacre commented on #409
@JamieUdaho - I was able to pull it down and make sure everything was working. Great work!

[2015-07-11 04:52] #409 closed

[2015-07-11 16:51] leslienw commented on #318
Repo - https://github.com/leslienw/javascript-koans/tree/master/koans

Almost finished down to the last three which I'm a little confused on.

[2015-07-12 21:56] twhitacre commented on #136
@theatrekid09

Part 1: This still needs to be deployed to Github Pages. Let me know if you need help with it.

Part 2: :+1:

[2015-07-12 21:56] twhitacre commented on #174
:+1: All done!

[2015-07-12 22:00] twhitacre commented on #185
@leslienw looks really good. Only one thing I'd like you to take a deeper look at. The titles with longer names bleed past what you can see. Then if I mouse over it I can scroll to the right & left. This is not an experience you want your user to have.

Here is an article that might help - https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/

[2015-07-12 22:01] twhitacre commented on #280
:+1: Great work!

[2015-07-12 22:02] twhitacre commented on #318
Awesome! Let me know if I can help.

Also, make sure you deploy this to Github Pages so I can check it out.

[2015-07-12 22:06] twhitacre commented on #387
@chrisbusta - while this does "work", I need you to take another look at the directions for this project. Part of the assignment is to use Angular's controller scope and understand how that works. See the [details of the assignment here](https://github.com/tiy-atl-js-q2-2015/Assignments/tree/master/Assignment%2021#learning-objectives).

Also, where did [this](https://github.com/chrisbusta/Like-But

[2015-07-14 02:25] leslienw commented on #185
Repo - https://github.com/leslienw/etsy10
Gh-pages - http://leslienw.github.io/etsy10/

Thank you for the article. Fixed the scrolling.

[2015-07-14 02:25] #185 closed

[2015-07-14 04:03] theatrekid09 commented on #402
http://development.khalif-lbutton.divshot.io/

[2015-07-14 04:03] #402 closed

[2015-07-14 04:47] theatrekid09 commented on #136
deployed version of part 1: http://theatrekid09.github.io/Functions-Part-1/

[2015-07-14 04:47] #136 closed

[2015-07-14 16:40] mjhewett commented on #187
repo:  https://github.com/mjhewett/etsyproj/tree/master

i pushed up the changes to gh-pages as well but the page hadn't loaded yet. Should be working though!

site:  https://github.com/mjhewett/etsyproj/tree/gh-pages

[2015-07-14 16:40] #187 closed

[2015-07-14 18:54] chrisbusta commented on #387
https://github.com/chrisbusta/Like-Button/tree/gh-pages
http://development.assignment21.divshot.io

[2015-07-14 18:54] #387 closed

[2015-07-15 03:44] leslienw commented on #128
I believe this is complete. I really hope there's nothing wrong with it. I'm tired of looking a this.

Repo - https://github.com/leslienw/exercises07.js

[2015-07-15 14:41] twhitacre commented on #187
:+1: Great work. Looks good! Thanks

[2015-07-15 14:47] twhitacre commented on #128
@leslienw - it's looking really good.

Can you tell me what `str` is supposed to be [here](https://github.com/leslienw/exercises07.js/blob/master/main.js#L201)?

[2015-07-15 14:49] twhitacre commented on #136
Part 1: :+1:

[2015-07-15 14:50] twhitacre commented on #185
Awesome! looks much better! :+1:

[2015-07-15 14:51] twhitacre commented on #387
:+1: Looks good!

Nice picture :pizza:

[2015-07-15 14:52] twhitacre commented on #402
:+1:

[2015-07-15 17:41] leslienw commented on #128
I had it abbreviated at my first few attempts of this. I will fix it. I really want to be done with this : )

[2015-07-15 17:41] #128 closed

[2015-07-16 02:36] leslienw commented on #318
Still confused on the last three of About Applying What We Have Learnt.

Repo - https://github.com/leslienw/javascript-koans/tree/master/koans

Gh-pages - http://leslienw.github.io/javascript-koans/

[2015-07-16 15:06] twhitacre commented on #128
:+1: Got it - looks good!

[2015-07-16 21:28] jaleach commented on #370
http://development.tiy-jimphotos.divshot.io

https://github.com/jaleach/Assignment-20

[2015-07-16 21:28] #370 closed

[2015-07-17 03:30] leslienw commented on #261
Repo - https://github.com/leslienw/Constructors
Divshot - http://development.l-constructors.divshot.io

[2015-07-17 03:30] #261 closed

[2015-07-17 16:17] robertfine4631 commented on #59
here is the restart i did on the surf and paddle website

https://github.com/robertfine4631/RevisedS-P

although there does seem to be a bug on my gh-pages, i will fix that once i get the rest of the stuff push up

http://robertfine4631.github.io/RevisedS-P/

[2015-07-17 16:20] robertfine4631 commented on #116
https://github.com/robertfine4631/assignment6

i have not updated this one yet, but i do understand how to fix them.... This is one of the ones I can definitely have done by the end of the weekend. I need to clone this one down, and then work on it because it was one of the repositories I lost when my computer's logic board died

[2015-07-17 16:24] robertfine4631 commented on #135
https://github.com/robertfine4631/new-assignment

i have a lot of these done on codepen, i did these last week. I will include a link to my code pen

http://codepen.io/bfine809/pen/bdaXOz?editors=001

(these were some of the things I finished up during the review week)

and the other repo for the data parsing was lost on my old harddrive when my logic board fried

[2015-07-17 16:26] robertfine4631 commented on #192
https://github.com/robertfine4631/Etsy-Website

this was another one that was lost when my computer fried, although i assure you I do understand how to do this and can do it.

[2015-07-17 16:28] robertfine4631 commented on #249
This was the assignment that we talked about. I will have this one done by the end of today. I have not restarted this one yet.

[2015-07-17 16:33] robertfine4631 commented on #268
https://github.com/robertfine4631/constructors/blob/dev/js/main.js

this is another one where the repo on my computer was destroyed so i will need to clone it down. As I recall though, I did finish this one by all but 1 getting it to be passed. During the time of creation, i was still bad at commits. And if you feel it is neccessary I will be happy to go through this and comment my thought process

[2015-07-17 16:37] robertfine4631 commented on #287
here on assignmnet 15, this was the todo list using backbone. I actually have this one done and it is saved on my flashdrive because I did this at my dads office, and can have this one up next time i go to the office (sunday) but as of right now, the github commits are on the initial and needs to be updated with the javascripts

[2015-07-17 16:38] robertfine4631 commented on #306
assignment 16 I had not yet started.

[2015-07-17 16:39] robertfine4631 commented on #344
assignment 18 i still need to get started, but making the tests are very easy and should not take but a little bit of time.

[2015-07-17 16:41] robertfine4631 commented on #363
i had done some work on this assignment, but then deleted it. as I did not feel honest about it. However, i do now know how to do this properly

[2015-07-17 16:43] robertfine4631 commented on #382
assignment 20, i cannot find on my computer. I will continue to search or just restart it. It was not hard, i had 3 contacts and it redirected to more info. I will have this one in by sunday for sure

[2015-07-17 16:47] robertfine4631 commented on #420
https://github.com/robertfine4631/AngularApp

this is my crud app

still have a good bit of work todo on it

[2015-07-17 17:17] chrisbusta commented on #406
https://github.com/chrisbusta/assignment22/tree/gh-pages

[2015-07-17 17:19] chrisbusta commented on #292
https://github.com/chrisbusta/toDoList/tree/prototype

[2015-07-17 17:40] robertfine4631 commented on #116
https://github.com/robertfine4631/functionsPractice

this is the completed part 1 of assignment 6

[2015-07-17 17:40] robertfine4631 commented on #116
the surf and paddle with sass will be done shortly

[2015-07-17 19:46] robertfine4631 commented on #135
https://github.com/robertfine4631/Assignment7/tree/master

http://robertfine4631.github.io/Assignment7/

there are the finished exercises, and will have the etsy data parsing up soon

[2015-07-17 20:10] robertfine4631 commented on #135
http://robertfine4631.github.io/Assignment7/

https://github.com/robertfine4631/Assignment7

there is the finished etsy data parsing gh-pages and the repo

[2015-07-17 20:10] #135 closed

[2015-07-18 13:55] twhitacre commented on #406
@chrisbusta - Can you push up a deployed version of this?

[2015-07-18 13:58] twhitacre commented on #292
@chrisbusta - [Here](https://github.com/chrisbusta/toDoList/blob/prototype/app/js/main.js#L10-L14) the prototype looks good code-wise, but you didn't do what the directions asked.

See that [here](https://github.com/tiy-atl-js-q2-2015/Assignments/tree/master/Assignment%2016#06815)

[2015-07-18 14:00] #107 closed

[2015-07-18 14:06] twhitacre commented on #392
@kishanbhakta - this still needs to be deployed, but I pulled it down and ran the code and it looks great.

:+1:

[2015-07-18 14:06] #392 closed

[2015-07-18 16:51] chrisbusta commented on #406
http://development.recipes.divshot.io

[2015-07-19 18:23] chrisbusta commented on #349
http://development.assignment19.divshot.io
https://github.com/chrisbusta/contactList/tree/gh-pages

[2015-07-20 22:18] kishanbhakta commented on #50
https://github.com/kishanbhakta/Surf-and-Paddle-Co

This is the completed assignment!

[2015-07-20 22:18] #50 closed

[2015-07-21 00:53] twhitacre commented on #50
@kishanbhakta - this looks great. Thanks for wrapping this up.

Make sure to merge `master` into your `gh-pages` branch!

[2015-07-21 00:55] twhitacre commented on #135
:+1: Nice work!

[2015-07-21 00:58] twhitacre commented on #268
@robertfine4631 Can you push this up to Github Pages? Once you do that, I'll take a look and then see if I need you to update it more.

[2015-07-21 01:02] #242 closed

[2015-07-21 01:02] #299 closed

[2015-07-21 01:02] #318 closed

[2015-07-21 01:02] #337 closed

[2015-07-21 01:02] #356 closed

[2015-07-21 01:02] #375 closed

[2015-07-21 01:02] #394 closed

[2015-07-21 01:02] #413 closed

[2015-07-21 01:09] twhitacre commented on #349
@chrisbusta - It looks like I can add names to the list, but they are not persistent. Meaning, when I refresh the page they do not stick there. I can also not delete ones.

I see [here](https://github.com/chrisbusta/contactList/blob/gh-pages/app/js/main.js#L87-L90), that you have some sample data, but you need to pull the live data down from the server.

[2015-07-21 11:46] kishanbhakta commented on #183
http://development.bhktkshn-etsyscotchproject.divshot.io
https://github.com/kishanbhakta/Assignment10

[2015-07-21 11:46] #183 closed

[2015-07-29 16:46] kishanbhakta commented on #354
http://development.tiy-backbonecontactlist.divshot.io

https://github.com/kishanbhakta/Backbone_ContactList

[2015-07-29 16:46] #354 closed

[2015-07-31 01:38] twhitacre commented on #183
:+1: Great work!

[2015-07-31 01:39] twhitacre commented on #354
:+1: Nice work. Thanks for wrapping this up!

[2015-08-20 20:57] psamp commented on #343
Tests: https://github.com/psamp/mochaandchai/tree/master/test
JS: https://github.com/psamp/mochaandchai/tree/master/app/js

[2015-08-20 20:57] #343 closed

[2015-09-18 20:13] twhitacre opened #425 "Test Issue"